#markInfo_box{
    width: 510px;
    background-color: white;
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -300px;
    box-shadow: 0 5px 10px #6F6F6F ;
}
#markInfo_box>header{
    height: 40px;
    background-color: #2d3244;
    line-height: 40px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
header>.title{
    margin-left: 16px;
    color: white;
    font-weight: 500;
}
header>.close-btn{
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
    line-height: 16px;
    color: #cdcdcd;
    font-size: 28px;
    z-index: 1000000;
}
.info-content{
    padding: 0 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 10px;
}

.info-content div em{
    color: red;
}
.info-content div .label-first{
    margin-left: 14px;
}
.info-content div div{
    display: inline-block;
}
.info-content div div span{
    height: 30px;
    display: inline-block;
    padding: 0px 6px;
    background: #F2F2F2;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.info-content div label{
    font-size: 14px;
}
.info-content div:first-child div:first-child{
    margin-left: 5px;
}
.info-content div div span:hover{
    background: #2999A7;
    color: #FFFFFF;
}
.info-content div div .add-color{
    background: #2999A7;
    color: #FFFFFF;
}
#add-color{
    background: #2999F2;
    color: #FFFFFF;
}
#add-color-small{
    background: #2999F2;
    color: #FFFFFF;
}
.info-content div .add-yzt{
    width: 390px;
    float: right;
}
.info-content div:nth-child(4),.info-content div:nth-child(6),.info-content div:nth-child(7){
    margin-top: 10px;
}
.info-content div .remark{
    margin-left: 27px;
}
.info-content div textarea{
    width: 385px;
    float: right;
    height: 60px;
    outline:none;
    resize:none;
}
.info-content div .label-top{
    display: inline-block;
    margin-top: 10px;
}
.info-content div input{
    width: 383px;
    height: 25px;
    margin-left: 9px;
}
.info-content div:last-child{
    padding-bottom: 10px;
}
.btn-group{
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.clearfix{
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
 }
.clearfix:after {
     clear: both;
     visibility: hidden;
     font-size: 0;
     height: 0;
 }


