.content{padding:20px;width:100%;height:100%;overflow: auto;padding: 20px;  box-sizing: border-box;  position: relative;}
/*搜索框*/
.mounting-cost-top>.select{width:150px;height:30px;}
.table-title> span.right{  width: 68px;  height: 30px;  }
.table-title> span.delete-btn{background-color: #bbb;}
.table-title> span.right >i{height:16px;}
.table-title> span.right >i.add{background:url('/assets/button-icon.png') no-repeat 0 0;}
.table-title> span.right >i.modify{background:url('/assets/button-icon.png') no-repeat -24px 0;}
.table-title> span.right >i.delete{background:url('/assets/button-icon.png') no-repeat -48px 0;background-color: #bbb;}
.table-container {
    height: calc(100% - 158px);
}
.show{display: block;}
.hide{display: none;}
intime-aside{position:absolute;top:0; right:1000px; height:100%;}