.sale-content{padding:20px;    height: 100%;box-sizing: border-box;}
.show-flow-list>li:nth-child(2)>i{background:url('/assets/financial-center/finan-icon.png') no-repeat 0 0;  }
.show-flow-list>li:nth-child(3)>i{background:url('/assets/financial-center/finan-icon.png') no-repeat -14px 0; }
.show-flow-list>li:nth-child(4)>i{background:url('/assets/financial-center/finan-icon.png') no-repeat -30px 0; }
.table-container {
    width: 100%;
    margin: 0;
    border: 1px solid #d8e3ef;
    border-top: none;
    position: relative;
    box-sizing:border-box;
}
.modal {
    width: 1020px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1040px;
}