.test-content{
    margin:30px 0 0 30px;
}
.meta-select{
    width: 100px;
}
.component{
    margin-top:50px;
}
.left-content{
    float: left;
}
.content-right{
    position: absolute;
    float: right;
    left:500px;
}