<div class="content">
    <my-nav [navs]="navs" [curIndex]="curIndex" [navHrefs]="navHrefs" [nodeNumber]="nodeNumber"></my-nav>
    <search-top [loading]="loading" [selected]="selected" (doSearchEvent)="doSearch()" [abnormalTaskRequestVo]="abnormalTaskRequestVo"
                class="search-top" (isExplane)="changeExplane($event)" (showTraceWin)="showOrHideTraceWin($event)"
                (cancelSelect)="cancelSelect()"></search-top>
    <div class="table-container" [ngClass]="{explane:isExplane}">
        <!--<table-grid></table-grid>-->
        <!--<data-table [tableHeight]="tableHeight" [datum]="datum" *ngIf="isTableShow"></data-table>-->
        <ui-grid
            id="all-abnormal-grid"
            [columns]="columns"
            [data]="data"
            (load)="load($event)"
            (rowSelect)="rowSelect($event)"
            (exportCSV)="exportCSV($event)"
            (cellMouseEnter)="cellMouseEnter($event,op1)"
            (cellMouseLeave)="cellMouseLeave($event,op1)"
            (cellClick)="cellClick($event)"
            [selections]="selected"
        ></ui-grid>
    </div>
</div>
<trace-win (save)="doSave($event)" *ngIf="isshowTraceWin" (hideWin)="showOrHideTraceWin($event)" trackFlag="SHYC"
           [selectLineInfo]="selectLineInfo"></trace-win>
<!--<exception-info-deal [boxState]="controlException" (close)="hideDialog($event)"></exception-info-deal>-->
<!--查看异常信息-->
<readonly-exception-info [selectionRow]="rowData" [abnormalSaleFlag]="abnormalSale" *ngIf="isshowExceptionWin"
                         (close)="hideDialog()"></readonly-exception-info>
<!--提示框-->
<p-growl [value]="msgs"></p-growl>
<!--维修详情-->
<repair-detail [selectedRowData]="rowData" class="modal" *ngIf="isModuleDisplayArr[0]"
               (closeModal)="closeModal(0)"
               [@modalState]="isModuleDisplayArr1[0] ?'in':'out'"></repair-detail>
<!--返货详情-->
<supplier-detail [selectedRowData]="rowData" class="modal" *ngIf="isModuleDisplayArr[1]"
                 (closeModal)="closeModal(1)"
                 [@modalState]="isModuleDisplayArr1[1] ?'in':'out'"></supplier-detail>
<!--其他详情-->
<other-task-detail [selectedRowData]="rowData" class="modal" *ngIf="isModuleDisplayArr[4]" (closeModal)="closeModal(4)"
                   [@modalState]="isModuleDisplayArr1[4] ?'in':'out'"></other-task-detail>
<!--调度详情-->
<detail-modal class="modal" [selectLineInfo]="rowData" *ngIf="isModuleDisplayArr[2]"
              [@modalState]="isModuleDisplayArr1[2] ?'in':'out'"
              (closeModal)="closeModal(2)"></detail-modal>
<!--补件详情-->
<bh-detail class="modal" [selectLineInfo]="rowData" *ngIf="isModuleDisplayArr[3]"
           [@modalState]="isModuleDisplayArr1[3] ?'in':'out'"
           (closeModal)="closeModal(3)" (saveModal)="saveModal()"></bh-detail>
<!--弹出内容框-->
<p-overlayPanel #op1 [showCloseIcon]="true" [dismissable]="false">
    <p-dataTable [value]="trackInfo" [style]="{'width':'600px'}" class="table" emptyMessage="没有记录">
        <p-column field="trackedTime" header="上次跟踪时间" [sortable]="true"></p-column>
        <p-column field="operator" header="跟踪人" [sortable]="true"></p-column>
        <p-column field="remark" header="跟踪信息" [sortable]="true"></p-column>
        <p-column field="altTime" header="下次跟踪时间" [sortable]="true"></p-column>
    </p-dataTable>
</p-overlayPanel>
