.outer-container {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	position: relative;

    height: 100%;
}
.inner-container {
    width: 100%;

    position: relative;
    height: 100%;
}


.content-header {
    height: 30px;
    position: relative;
    margin-bottom: 0px;
    margin-top: 15px;
}
.content-header>span {
	line-height: 30px;
}
.content-header>span, .content-header>div, .content-header>select, .content-header>button {
	float: left;
}
.content-header>span.select-span {
	margin: 0 7px 0 22px;
}
.content-header>select {
	height: 30px;
    width: 90px;
    padding: 0 10px;
    border: 1px solid #cccccc;
}
.content-header>select:focus {
	border: none;
}
.content-header>select:nth-of-type(3) {
	margin-right: 15px;
}


div.time-control {
	position: relative;
	margin-left: 8px;
}
div.time-control>input {
	width: 86px;
    height: 30px;
    box-sizing: border-box;
    padding: 8px;
   	font-size: 12px;
   	border: 1px solid #cccccc;
}
div.time-control>input:focus, div>input.focus {
	border: 1px solid #0d85e4;
}
div.time-control>my-date-picker {
	position: absolute;
	top: 33px;
	left: 0;
	z-index: 10;
}


.table-header {
    background-color: #f7f8fa;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 2px solid #1a9cf2;
    padding: 0 15px;
    position: relative;
    margin-top: 12px;
}
.table-header>span {
    line-height: 38px;
}
span.select-num {
    color: #0d85e4;
    padding: 0 7px;
}
span.split-line {
	margin: 0 12px 0 15px;
	color: #c9c9c9;
}
a.operation-a {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	text-align: left;
	color: #728597;
}
a.operation-a>i {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
a.operation-modify>i {
    background: url(/assets/operation.png) no-repeat 0 -74px;
    background-size: 122px;
}
a.operation-delete>i {
    background: url(/assets/operation.png) no-repeat -50px -25px;
    background-size: 122px;
}
a.operation-addw>i {
    background: url(/assets/operation.png) no-repeat -78px -50px;
    background-size: 122px;
}

.table-header>span.close-btn {
	position: absolute;
    right: 12px;
    height: 38px;
    line-height: 38px;
    color: #d6d6d6;
    font-size: 20px;
}


.table-header1 {
    background-color: #ffffff;
    padding: 11px 0;
}
.table-header1>h4 {
    font-size: 16px;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    border-left: 3px solid #0d85e4;
    box-sizing: border-box;
}
.table-header1>a {
    position: absolute;
    display: block;
    width: 142px;
    height: 30px;
    top: 4px;
    right: 0;
    line-height: 30px;
    color: #ffffff;
    padding-left: 32px;
    box-sizing: border-box;
    background: #0d85e4 url(/assets/add.png) no-repeat 10px 6px;
    border-radius: 2px;
}


.table-container {
    height: calc(100% - 177px);
}

/*搜索框媒体查询*/
@media screen and (max-width: 1024px) {
    .content-header{width:1024px;}
}
.abnormal-search{
    margin-left: 10px;
}
/*搜索框*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .content-header{width:1200px;}
}
