a.close-modal-btn {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 78px;
    background: url(/assets/close-modal.png);
    z-index: 999;
}
.outer-modal-container>.adress-add-area{
    width: 85%;
    height: 730px;
    margin-left: 200px;
    overflow-y: auto;
}

.outer-modal-container .add-adress-header{
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
}
.outer-modal-container .add-adress-header span{
    margin-left: 20px;
}
.outer-modal-container .add-address-btn{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
div.adress-auto{
    height: 100%;
    overflow-y: auto;
}
#adress-ui .ui-corner-all {
    border-radius: 0;
    width: 100%;
}

