
<!-------聊天弹框---->
  <script src="dialog-box.component.ts"></script>
<div [ngClass]="dialog">
    <div class="chat_dialog" id="chat_dialog">
      <div class="mid_box">
        <div class="box_fd">
          <div class="nav_table im_box_cont">
            <div class="nav_table_main">
              <div class="main_header">
                <div class="oder_type xin" *ngIf="groupTitleInfo.groupPic == 'dispatchTask'">新</div>
                <div class="oder_type wei" *ngIf="groupTitleInfo.groupPic == 'repair'">维</div>
                <div class="oder_type fan" *ngIf="groupTitleInfo.groupPic == 'fhreturn'">返</div>
                <div class="oder_type" *ngIf="!groupTitleInfo.groupPic">
                  <img [src]="imgsrc?imgsrc:'/assets/touxiang.jpg'">
                </div>
                <div class="oder_title" id="oder_title">
                  <!--<div class="oder" (dblclick)="edit($event)"><label><b>{{groupTitle}}</b></label></div>-->
                  <span #oderTitle class="oder" id="oder_groupTitle" (dblclick)="edit($event)" [innerHtml]="groupTitle">

                  </span>
                  <i class="icon" (click)="showGroup()"></i>
                </div>
              </div>
              <div class="sd_big_wrap" *ngIf="groupTitleInfo.groupPic">
                <div class="sd_wrap">
                  <i>收</i>
                  <span class="consignee">{{groupTitleInfo.consignee}}({{groupTitleInfo.consigneeMobile}})</span>
                </div>
                <div class="sd_wrap">
                  <i>发</i>
                  <span class="consignee">{{groupTitleInfo.shipper}}({{groupTitleInfo.shipperMobile}})</span>
                </div>
              </div>
              <a class="clean_dg" href="javascript:;" (click)="closeChat()" *ngIf="isPopUpBox===true">X</a>

            </div>
            <!-------成员列表---->
            <div class="mation" id="mation">
              <p>成员
                <span class="folt_right">置顶</span>
                <input name="置顶" type="checkbox" value="置顶" (click)="zhiding($event)" [(ngModel)]="isChecked">
              </p>
              <div class="member" id="member">
                <div class="member_list" *ngFor="let data of memberData; let i=index" (mouseover)="headMouseOver($event,i)" (mouseout)="headMouseOut($event,i)" >
                  <div class="u_pic">{{data?.nickName.substr(0,1)||''}}</div>
                  <span>{{data.nickName}}</span>
                  <div class="details">
                    <div class="name_pic"></div>
                    <div class="name_cont">
                      <b>{{data.nickName}}</b>
                      <p>{{data.number}}</p>
                    </div>
                    <div class="cont_list">
                      <!-- <p>服务类型：<span>{{data.serveType}}</span></p> -->
                    </div>
                  </div>
                </div>
                <div class="member_list jion" (click)="ShowGroupBg()"><div class="u_pic"></div><span>添加成员</span></div>
                <div class="member_list out" (click)="ipsQuitGroup()" *ngIf="quitChat===true"><span>退出聊天</span></div>
              </div>
            </div>
          </div>

          <div class="chat_content" id="message-body">
            <!--<div class="chat_box"  *ngFor="let msg of msgData">-->
            <!--<div class="{{msg.seat === true?'left':'right'}}">-->
            <!--<p>{{msg.msgTime}}</p>-->
            <!--<div class="u_pic">头像</div>-->
            <!--<div class="u_cont">-->
            <!--<p>{{msg.author}}</p>-->
            <!--<p class="text_chat">{{msg.msgContext}}</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
          </div>
          <!-------输入框------------->
          <div class="input_box">
            <div class="pic_btn">
            <span class="pic" (click)="updateImg()">
              <input id="upImg"  name="fileTrans" type="file" (change)="onFileSelect($event)" style="display: none"/>
            </span>
              <span class="order" (click)="toggleTaskSendPanel($event)"></span>
              <span class="host_list" (click)="history($event)">消息记录</span>
            </div>
            <div
                    contenteditable="true"
                    name="输入2"
                    id="inputText"
                    placeholder="请输入"
                    (focus)="showTaskSendPanel=false"
                    (keyup)="EnterMessage($event)"
                    (paste)="pasteData($event)"
            ></div>
            <span class="im_btn_send" (click)="sendMessage()">发送</span>
            <span class="msg_record">按Enter换行，Ctrl+按Enter发送</span>
            <div class="order_box" id="order_box" (click)="stopPro($event)" *ngIf="showTaskSendPanel" style="display: block">
              <textarea name="输入1" id="input_order" placeholder="请输入任务号" (keyup)="EnterOrderNum($event)" [(ngModel)]="orderNum"></textarea>
              <span class="send_order" (click)="sendOrder()">点击发送</span>
            </div>
          </div>
        </div>
        <!--聊天历史记录-->
        <div class="chat_history" [@historyToggle]="hisToggle? 'show': 'hide'">
          <div class="nav" (click)="closeHistory()">历史记录<span>X</span></div>
          <div class="hist_cont">
            <!--<div class="chat_list" *ngFor="let data of historyMsg">-->
            <!--<p class="name"><b>{{data.author}}</b><span>{{data.msgTime}}</span></p>-->
            <!--<p class="cont">{{data.msgContent}}</p>-->
            <!--</div>-->

          </div>

          <div class="hist_search">
            <div class="sea_box">
              <span class="seach_txt" (click)="showContent($event)"></span>
              <!--<span class="date_sc">2015-05-26</span>-->
              <div class="calendar-div date_sc">
                <p-calendar
                        name="Date"
                        [locale]="zh"
                        dateFormat="yy/mm/dd"
                        [inputStyle]="inputStyle"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="yearRange"
                        [readonlyInput]="true"
                        [(ngModel)]="historyDate"
                        (onSelect)="historyDateChange()"
                ></p-calendar>
              </div>
            </div>
            <div class="page">
              <button class="top" (click)="top()"></button>
              <button class="shangye" (click)="shangye()"></button>
              <button class="xiaye" (click)="xiaye()"></button>
              <button class="end" (click)="end()"></button>
            </div>
            <div class="cont_search" *ngIf="isShowSearch" style="display: block">
              <input type="text" class="txt" placeholder="请输入" [(ngModel)]="hisSearchData">
              <input class="btn_sc" type="submit" value="搜索" (click)="doSearch()">
            </div>
          </div>
        </div>


      </div>
      <!-------任务详情------------->
      <div class="right_box">
        <div class="nav"><span>任务详情</span></div>
        <div class="cont_order noll" id="cont_order"> <!------------->
          <ul class="cont" id="cont_order_ul">
          </ul>
        </div>
      </div>
    </div>
  </div>

<!--添加成员蒙版-->
<div class="group_bg" *ngIf="isShowGroupBg" [ngClass]="dialog">
  <div class="choice">
    <p>选择同事 <a class="clean_bg" id="clean_bg" href="javascript:;" (click)="closeWorkmate()">X</a></p>
    <ul>
      <li (click)="addTeamer(i)" *ngFor="let data of teamerData; let i = index">
        <div class="worker">同事</div>
        <div class="worker_title">
          <div class="worker_man">
            <label>
              <span>{{data.nickName}}</span>(
              <span>{{data.mobile}}</span>)
            </label>
          </div>
        </div>
      </li>
    </ul>
    <div class="page" id="page">
      <button class="top" (click)="team_top()"></button>
      <button class="shangye" (click)="team_shangye()"></button>
      <button class="xiaye" (click)="team_xiaye()"></button>
      <button class="end" (click)="team_end()"></button>
    </div>
  </div>

</div>
<!--订单号错误提示弹框-->
<p-confirmDialog  width="360" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-check" label="确定" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<!--提示框-->
<p-growl [value]="msgs"></p-growl>
