.content{padding:20px;    height: 100%;  box-sizing: border-box;}
.search-top{display: block;}
.table-container {
    width: 100%;
    margin: 0;
    border: 1px solid #d8e3ef;
    border-top: none;
    position: relative;
    box-sizing:border-box;
}
div.explane{
    height:calc(100% - 258px)
}
.sys-bottom{
    display: block;
}