.dialog-box {
    width: 700px;
}
.dialog-box-footer{
    padding: 10px 0;
}
#content {
    overflow: auto;
}
.input-form > input,select{
    width: 200px!important;
    box-sizing: border-box;
}
.up-block{
    background-color: #FEF1E4;
    padding: 15px;
    margin-bottom: 15px;
}
.up-block > .row {
    margin-bottom: 10px!important;
}
.up-block > .row > div {
    display: inline-block;
    margin-right: 10px;
    width: 200px;
}
.up-block > .row > div > span:nth-of-type(1) {
    width: 62px;
    text-align: right;
    display: inline-block;
}
.up-block > .row > div.shipper {
    width: 150px;
}
.up-block > .row > div.destination {
    width: 230px;
}
.up-block > .last {
    margin-bottom: 0!important;
}
.row-content {
    position: relative;
}
.row-content .complain-content {
    position: absolute;
    top: 0;
    left: 6px;
}
.row-content .info {
    margin-left: 66px;
    display: inline-block;
}
.dialog-box-content .input-form {
    display: inline-block;
    width: 49%;
    margin-right: 0;
}
.dialog-box-content .row {
    margin-bottom: 0;
}
.dialog-box-content .row > .input-form > span {
    text-align: right;
    margin-right: 5px;
}
.dialog-box-content .row > .input-form > span:nth-of-type(2) {
    width: 150px;
    text-align: left;
    display: inline-block;
    /*color:#0b7dd8;  */
}
.input-describe > span {
    text-align: right;
    vertical-align: text-top;
    margin-right: 5px;
}
.input-describe > span.remark {
    width: 500px!important;
    text-align: left;
    display: inline-block;
}
.handle-complain ,.appeal-complain{
    background-color: #F2F2F2;
    position: relative;
    margin-bottom: 15px;
}
.handle-complain .first, .appeal-complain .first {
    padding-top: 30px;
}
.handle-complain > .deal ,.appeal-complain > .appeal {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 20px;
    padding: 0 5px;
    background-color: #079DFF;
    color: #fff;
}

/* 图片 */
.input-describe >span.img {
    vertical-align: top;
}
.img-wrap{
    display: inline-block;
}
.img-wrap>.img-item{
    float: left;
}
.img-wrap>.img-item>a>img{
    width: 90px;
    height: 65px;
    margin-right: 5px;
}
.row >span.img {
    vertical-align: top;
    width: 62px;
    display: inline-block;
    text-align: right;
}