<div #dialog id="deposit_apply01" class="dialog-box"  [ngStyle]="drag.setPosition(300,170)">
    <div id="deposit_apply_title01" class="dialog-box-title">
        <span class="dialogdialog-left">提示</span>
        <span class="dialog-right" (click)="hideWindow()">×</span>
    </div>
    <div class="dialog-box-content">
        确认受理 <br>
        运单号：{{selectedWaybillAbnormal.waybillId}} <br>
        异常类型：{{selectedWaybillAbnormal.abnormalTypeName}} <br>
        异常小类：{{selectedWaybillAbnormal.abnormalTypeChildren}} <br>
        的异常？
    </div>
    <div class="dialog-box-footer">
        <!--<span class="btn primary-btn" (click)="showSuccess(success,dialog)">确认</span>-->
        <span class="btn primary-btn" (click)="accepted()">确认</span>
        <span class="btn default-btn" (click)="hideWindow()">取消</span>
    </div>
</div>


<div #success id="deposit_apply" class="dialog-box" [ngStyle]="drag.setPosition(300,170)">
    <div id="deposit_apply_title" class="dialog-box-title">
        <span class="dialogdialog-left">提示</span>
        <span class="dialog-right" (click)="hideSuccess(success,dialog)">×</span>
    </div>
    <div class="dialog-box-content">
        受理成功
    </div>
    <div class="dialog-box-footer">
        <span class="btn primary-btn" (click)="hideSuccess(success,dialog)">确认</span>
    </div>
</div>
<!--提示弹窗-->
<p-growl [value]="msgs"></p-growl>

