@charset "utf-8";
/*css reset code */

body {
    font: 12px/1.5 "Microsoft YaHei",微软雅黑,"Myriad Pro",华文细黑,STHeiti,MingLiu;

} /* for IE/Win */
html>body {
    font: 12px/1.5 "Microsoft YaHei",微软雅黑,"Myriad Pro",华文细黑,STHeiti,MingLiu;
} /* for everything else */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img, object, video, embed{
    display:block;
    max-width: 100%;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,input,ol,ul {
    display: block;
    margin: 0px;
    padding: 0px;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* start editing from here */

a {
    text-decoration: none;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}
*{ margin:0; padding: 0; }
*html .clearfix{zoom: 1;}
*:first-child + html .clearfix{zoom: 1;}
/* reset */





.mask-layer{width:100%; height: 100%;position: absolute;top:0;left:0; background-color: #000; opacity: 0.5;z-index:1000; display: none;}
.dialog-box{/*修改项*/width:513px;margin-top: -220px;margin-left: -206px;/*修改项*/
    box-shadow: 1px 2px 10px #717171, -1px 2px 10px #717171;position: absolute;top: 50%;left: 50%;z-index: 1500;background-color: #fff; display: none; }
.dialog-box>.dialog-box-title{width: 100%;height: 40px;background: #2d3244;display: block;padding: 4px 15px;box-sizing: border-box;}
.dialog-box>.dialog-box-title>span{font-size:14px;color:#fff;line-height:33px;  }
.dialog-box>.dialog-box-title>.dialog-left{float:left;}
.dialog-box>.dialog-box-title>.dialog-right{float:right;font-size:30px;cursor: pointer;opacity: 0.7;line-height: 29px;}

.dialog-box>.dialog-box-content{padding:15px; height: 338px; border-bottom:1px solid #e5e5e5;box-sizing: border-box;}
.dialog-box>.dialog-box-footer{height:63px; text-align: center;}
.dialog-box>.dialog-box-footer>span{display: inline-block;width:58px; height: 30px; background-color: #f8f8f8;line-height:30px;border:1px solid #ddd;margin-top:15px;}








/*仲裁处理*/
.information_zhuangtai>.yingchan{ max-height: 300px; overflow: auto;    margin-top: 27px; }
.whole1{ width: 100%; }
.state{ width: 100%; overflow: hidden; border-bottom: 1px solid #eeeeee; }
.state .state_left{ overflow: hidden; }
.state ul{ float: left; }
.state ul li{ float: left; width: 86px; height: 37px; line-height: 37px; text-align: center; background: #eeeeee; color: #000000; font-size: 13px; margin-right: 10px; cursor: pointer; box-sizing: border-box; }
.state ul li.current{ border: 1px solid #eeeeee; background: #fff; color: #0d85e4; border-bottom: 1px solid #fff; border-top: 2px solid #0d85e4;  }
.state .state_right{ float: right; margin-right: 10px; }
.state .state_right>a{ display: block; line-height: 37px; padding-left: 25px; color: #ccc; font-size: 13px; background: url(../images/export.png) no-repeat left center;  }

.select_state{ width: 100%; float: left; margin-top: 15px; }
.select_state .register{ line-height: 30px; }
.select_state .register .title{ float: left; line-height: 28px; color: #333333; }
.select_state .register .time{ float: left;}
.select_state .register .time>input{ width: 84px; height: 28px; line-height: 28px; border: none; border:1px solid #dddddd; padding: 2px; margin-left:10px; box-sizing: border-box; }
.yuandan {  float: left; margin: 0 5px;}
.yuandan span { float: left;  height: 30px; line-height: 30px; font-family: "微软雅黑"; color: #343d47; margin: 0 5px;}
.yuandan input{ float: left; width: 130px; height: 28px; line-height: 28px; padding-left: 3px; border: 1px solid #cccccc; margin: 0 5px;}
.yuandan .sele{background: transparent; border: none; padding-left: 10px; width: 120px; height: 33px; line-height: 33px; border: 1px solid #ccc;}
.select_state .query{ float: left; width: 60px;  height: 30px; line-height: 30px; background: #3091f2;color: #fff; font-size: 14px;font-family: "微软雅黑"; text-align: center;margin: 0 10px;}
.select_state .empty{ float: left; width: 60px;  height: 30px; line-height: 30px; background: #f7f7f7;color: #333333; font-size: 14px;font-family: "微软雅黑"; text-align: center;margin: 0 10px; border: 1px solid #dddddd;}
.select_state .shaixian { float: left;  padding-left: 28px;  font-family: "微软雅黑"; font-size: 13px;background: url(../images/saixian.png) no-repeat 5px center; line-height: 30px;color: #3091f2; cursor: pointer;}


/*弹框*/
.arbitration_tk{ width: 668px; margin-left: -334px; border-radius: 2px; overflow: hidden; }
.arbitration_tk .dialog-box-title>ul{ float: left;  }
.arbitration_tk .dialog-box-title>ul li{ float: left; line-height: 34px; color: #93d5ff; font-size: 14px; padding:0 15px; cursor: pointer; box-sizing: border-box; }
.arbitration_tk .dialog-box-title>ul li.current{ border-bottom: 2px solid #0da0fd; color: #fff; }
.arbitration_tk .dialog-box-content{ width: 100%; float: left; height: auto; padding: 0;}
.arbitration_tk .dialog-box-content .top_abn{ width: 100%; overflow: hidden; padding: 15px; box-sizing: border-box;  background: #e8f4ff; }
.arbitration_tk .dialog-box-content .top_abn>span{ color: #444444; font-size: 12px; }
.arbitration_tk .dialog-box-content .top_abn ul li{ margin:5px 0; }
.arbitration_tk .dialog-box-content .top_abn .left{ display: block; float: left; width: 245px; }
.arbitration_tk .dialog-box-content .top_abn .picture{ float: right; width: 60px; height: 20px; text-align: center; line-height: 20px; background: #bfe1ff;  border-radius: 2px; color: #258ae6; margin-right: 25px;  cursor: pointer; }

/*仲裁处理*/
.arbitration_tk .bottom_abn{ width: 100%; float: left; padding: 15px; padding-top: 0; box-sizing: border-box; }
.arbitration_tk .bottom_abn .wrap{ margin-bottom: 5px; width: 100%; float: left; }
.arbitration_tk .bottom_abn .wrap2{ margin-top: 10px; }
.arbitration_tk .bottom_abn .wrap .chuli{ display: inline-block;padding: 0 10px; height: 25px; line-height: 25px; text-align: center; color: #fff; background: #; position: relative; }
.arbitration_tk .bottom_abn .wrap .chuli i{ position: absolute; display: block; width: 13px; height: 25px; top: 0; right: -11px; background: url(../images/triangle.png) no-repeat; }
.arbitration_tk .dialog-box-footer ul{ float: right; margin: 10px 0; }
.arbitration_tk .dialog-box-footer ul li{ float: left; margin-right: 10px; }

.arbitration_tk .bottom_abn .respon{ float: left; width: 600px; border: 1px  solid #f0f0f0; padding: 15px 10px; box-sizing: border-box; background: #fafafa; }
.respon ul li{ width: 100%; float: left; margin-bottom: 5px; }
.respon ul li>span{display: block; float: left; margin-right: 10px; line-height: 30px; }
.respon ul li>span.se1{ width: 140px; }
.respon ul li>span.se1 .se1_in select{ width: 130px; }
.respon ul li>span.se2{ width: 170px; }
.respon ul li>span.se2 .se2_in{ width: 168px; line-height: 26px; border: 1px solid #dddddd; padding: 3px; box-sizing: border-box; }
.respon ul li>span.se3{ width: 120px; }
.respon ul li>span.se3 .se3_in{ width: 120px; line-height: 26px; border: 1px solid #dddddd; padding: 3px; box-sizing: border-box; }
.respon ul li>span.se4,.respon ul li>span.se5{ float: left;  display: block; width: 20px;height: 20px;line-height: 14px; background: #0da0fd; border-radius: 10px;  font-size: 35px; color: #fff; text-align: center; margin: 5px 3px; cursor: pointer; }
.respon ul li>span.se5{ background: #25c26f; font-size: 21px; line-height: 17px; }
.opinion{ float: left; width: 600px; }
.opinion .opinion_bt{ display: block; width: 100%; line-height: 30px; margin-top: 10px; }
.opinion .opinion_sr{ width: 100%; height: 52px; padding: 3px; resize: none; box-sizing: border-box; }
.arbitration_tk .dialog-box-footer{ width: 100%; float: left; }

/*处理结果详情*/
.result_mingxi{ float: left; width: 100%; padding: 15px;box-sizing: border-box; }
.result_mingxi .top_titl{ float: left; display: block; width: 100%; height: 25px; line-height: 25px; color: #1f8aec; }
.result_mingxi .bottom_xingxi{ width: 100%; float: left; border: 1px solid #dddddd; padding: 10px; box-sizing: border-box; background: #f0f0f0; }
.result_mingxi .bottom_xingxi ul li{  width: 100%; float: left; margin: 3px 0; }
.result_mingxi .bottom_xingxi ul li>span{ display: block; float: left; }
.result_mingxi .bottom_xingxi ul li>span.left{ width: 215px; }
.result_mingxi .bottom_xingxi ul li>span.right{ width: 380px; }
.result_mingxi .bottom_xingxi ul li>span.left.nuo{ width: 500px; }
.result_mingxi .bottom_xingxi ul li>span.left .left_in{ float: left; }
.result_mingxi .bottom_xingxi ul li>span.left .right_in{ float: left; width: 370px; }
.result_mingxi .bottom_xingxi .report_form{ float: left; width: 100%; }
.result_mingxi .bottom_xingxi .report_form table{ width: 100%; border: 1px solid #86c5ff; }
.result_mingxi .bottom_xingxi .report_form table tr th{ text-align: center; padding: 5px 0; }
.result_mingxi .bottom_xingxi .report_form table tr .ying{ color: #59a0f4; }
.result_mingxi .bottom_xingxi .report_form table tr .gai{ color: #25c26f; }
.result_mingxi .bottom_xingxi .report_form table tr{ border-bottom: 1px solid #86c5ff; }
.result_mingxi .bottom_xingxi .report_form table tr td{ text-align: center; padding: 5px 0; background: #fff; }
.result_mingxi .bottom_xingxi .form_tit{ float: left; display: block; width: 100%; height: 18px; line-height: 18px; border-left:2px solid #0da0fd; padding-left: 10px; margin: 10px 0; }
.result_mingxi .bottom_xingxi .report_form table.tab1 tr th{ padding-top: 28px;text-align: left; padding-left: 10px; border-right: 1px solid #86c5ff; position: relative; }
.result_mingxi .bottom_xingxi .report_form table.tab1 tr td{ text-align: left;  padding-left: 10px; border-right: 1px solid #86c5ff;}
.result_mingxi .bottom_xingxi .report_form table.tab1 tr .h1{ background: #f0f0f0; }
.result_mingxi .bottom_xingxi .report_form table.tab1 tr .h2{ background: #ffffff; }
.result_mingxi .bottom_xingxi .report_form table.tab1 tr .h3{ background: #e1f1ff; }
.result_mingxi .bottom_xingxi .report_form table.tab1 tr .primary,.result_mingxi .bottom_xingxi .report_form table.tab1 tr .change{ width: 20px; height: 20px; color: #fff; position: absolute; top: 0; left:0; background: #59a0f4; text-align: center; line-height: 20px; border-bottom-right-radius: 5px; }
.result_mingxi .bottom_xingxi .report_form table.tab1 tr .change{ background: #25c26f; }
.result_mingxi .bottom_xingxi .report_form .left_for{ float: left;width: 50%; }
.result_mingxi .bottom_xingxi .report_form .right_for{ float: left;width: 50%; }
.result_mingxi .bottom_xingxi .report_form table.tab2 tr th{ padding-top: 25px; position: relative; }
.result_mingxi .bottom_xingxi .report_form table.tab2 tr .primary,.result_mingxi .bottom_xingxi .report_form table.tab2 tr .change{ width: 20px; height: 20px; color: #fff; position: absolute; top: 0; left:0; background: #59a0f4; text-align: center; line-height: 20px; border-bottom-right-radius: 5px; }
.result_mingxi .bottom_xingxi .report_form table.tab2 tr .change{ background: #25c26f; }

/*补件*/
.result_mingxi .bottom_xingxi .report_form table.tab3 tr{ border-bottom: none; }

/*否决*/
.result_mingxi .bottom_xingxi .reject{ display: block; float: left; width: 100%; }

/*维修*/
.result_mingxi .bottom_xingxi ul li>span.right .ho{ color: #FF0000;}
.result_mingxi .bottom_xingxi ul li>span.right{ position: relative; }
.result_mingxi .bottom_xingxi ul li>span.right .chakan{ width: 65px; height: 20px; line-height: 20px; text-align: center;  color: #FFFFFF;background: #2794fb; position: absolute; top: 0; right: 10px; cursor: pointer; }

/*返货*/
.responsible{ float: left; width: 100%; padding: 15px; padding-top: 0; box-sizing: border-box; }
.responsible ul li{ float: left; width: 100%; margin: 3px 0; }
.responsible ul li>span {display: block;float: left;}
.responsible ul li>span.left{ width: 215px; }
.responsible ul li>span.right{ width: 315px; }
.responsible ul li>span.right .ho { color: #FF0000;}
.responsible ul li>span.right .pinzhen{ display: inline-block; width: 65px; height: 20px; line-height: 20px; text-align: center; color: #FFFFFF; background: #2794fb; cursor: pointer; margin-left: 10px; }
.responsible ul li>span.left.nuo {width: 500px;}


















.arbitration_tk .service_class>div{ display: none; }
.arbitration_tk .service_class>div.current{ display: block; }

.arbitration_tk .more{ min-height: 300px; padding: 20px; box-sizing: border-box; }
.arbitration_tk .more .zui_more{ width: 600px; float: left; }
.arbitration_tk .more .zui_more .titl{ display: block; line-height: 30px; }
.arbitration_tk .more .zui_more .titl.lan{ color: #1f8aec; }
.arbitration_tk .more .zui_more .information{ display: block; width: 100%; border: 1px solid #d7efff; padding: 10px; overflow: hidden; background: #f7f8fa; margin-bottom: 10px; }
.arbitration_tk .more .zui_more .information>span{ display: block; float: left; margin-right: 10px; }
.arbitration_tk .more .zui_more .information .left{ width: 310px; }
.arbitration_tk .more .zui_more .information .zho{ width: 130px; text-align: center; }
.arbitration_tk .more .zui_more .information .right{ width: 115px; }
.arbitration_tk .modify{ padding: 15px; min-height: 300px; box-sizing: border-box; }
.arbitration_tk .modify table{ width: 100% ; }
.arbitration_tk .modify table th{ padding: 10px 0; text-align: center; background: #dcebfa; }
.arbitration_tk .modify table td{ text-align: center;  padding: 10px 0; }







/*报表数据*/
.form_data{ width: 100%; }
.form_data>div{ width: 100%; display: none; overflow: hidden; }
.form_data>div.current{ display: block; }

/*数据导出*/
.form_data .data2{ width: 100%; padding: 20px; box-sizing: border-box; }
.form_data .abnormal{ width: 100%; padding: 10px; padding-bottom: 30px; float: left; box-sizing: border-box;}
.form_data .abnormal.ma{  border-bottom: 1px solid #dddddd; }
.form_data .abnormal .abnormal_biaoti{ overflow: hidden; margin-bottom: 20px; }
.form_data .abnormal .abnormal_biaoti>span{ font-size: 14px; color: #333333; float: left; }
.form_data .abnormal .abnormal_biaoti>span.right{ color: #999999;float: right; }
.form_data .query_sj{ float: left; width: 100%; margin: 5px 0; }
.form_data .query_sj .title {float: left; line-height: 28px;color: #333333;}
.form_data .query_sj .time {float: left;}
.form_data .query_sj .time>input { width: 84px;height: 28px;line-height: 28px;border: none; border: 1px solid #dddddd; padding: 2px; margin-left: 10px; box-sizing: border-box;}
.form_data .query_sj .Choice{ margin-left: 0; }
.form_data .query_sj .Choice>span{ margin-left: 0; }
.form_data .query_sj .cha{ height: 30px; line-height: 30px; }
.form_data .query_sj .typep{ width: 100%; min-height: 100px; padding: 15px 25px; border: 1px solid #dddddd; background: #f6f9fb; box-sizing: border-box; overflow: hidden; }
.form_data .query_sj .typep ul li{ float: left; padding:8px; margin: 5px; font-size: 14px; cursor: pointer; }
.form_data .query_sj .typep ul li:hover{ background: #2577e3; color: #fff; }
.form_data .query_sj .Selected{ display: block; width: 100%; float: left; font-size: 12px; }
.form_data .query_sj .Selected em{ color: #0d85e4; margin: 0 5px; }
.form_data .query_sj .screen_m{ width: 100%; float: left; margin: 10px 0; }
.form_data .query_sj .screen_m ul li{ float: left; border: 1px solid #dddddd; margin: 5px 0; margin-right: 20px; }
.form_data .query_sj .screen_m ul li>span{ float: left; display: block; height: 25px; line-height: 25px; }
.form_data .query_sj .screen_m ul li>span.left{ padding: 0 10px; }
.form_data .query_sj .screen_m ul li>span.right{ width: 25px; text-align: center; cursor: pointer; }
.form_data .query_sj .preview{ width: 100%; float: left; margin-top: 20px; }
.form_data .query_sj .preview>span{ float: left; display: block; width: 93px; height: 33px; line-height: 33px; text-align: center; background: #f3fbff; border: 1px solid #3598e8; box-sizing: border-box; margin-right: 32px; cursor: pointer; color: #3598e8; }
.form_data .query_sj .preview>span.acco{ background: #0d85e4; color: #fff; }

/*我的报表*/
.form_data .abnormal .content{ float: left; width: 90%; margin-left: 6px;}
.form_data .abnormal .content li{ float: left; padding: 0 10px; height: 23px; line-height: 23px; border: 1px solid #9cc5f7; cursor: pointer; margin: 5px; }
.form_data .abnormal .preview { width: 100%; float: left; margin-top: 20px;}
.form_data .abnormal .preview>span { float: left; display: block; width: 93px; height: 33px; line-height: 33px; text-align: center;  background: #f3fbff; border: 1px solid #3598e8; box-sizing: border-box; margin-right: 32px; cursor: pointer; color: #3598e8;}
.form_data .abnormal .preview>span.acco{ background: #0d85e4; color: #fff;}


.modify .dialog-box-content{ height: auto; }
.modify .dialog-box-content .name{ overflow: hidden;}
.modify .dialog-box-content .name>span{ float: left;  line-height: 30px; margin-left: 20px;}
.modify .dialog-box-content .name>span>em{ color: #ff0000; }
.modify .dialog-box-content .name>input{ float: left; width: 270px; height: 30px; line-height: 30px; padding: 3px; box-sizing: border-box; margin-left: 10px;}
.modify .dialog-box-footer ul{ float: right; margin-top: 20px; margin-right: 10px; }




/*登录*/
.content1{ width: 100%; height: 100%; background:url(/assets/sale-after/exception-handle/Sign_bj.jpg) no-repeat center;  position: absolute; top: 0; left: 0; }
.content1 .content1_in{ position: absolute; width: 1000px; height: 510px; top: 50%; left: 50%; margin-left: -500px; margin-top: -300px; }
.content1 .content1_in .top_cun{ width: 100%; height: 120px; text-align: center; }
.content1_in .top_cun .j_currtun{ display: inline-block; width: 220px; height: 80px;  }
.content1_in .top_cun .j_currtun .logo{ width: 100%; height: 56px; background: url(/assets/sale-after/exception-handle/logo.png) no-repeat center; }
.content1_in .top_cun .j_currtun .logo>a{ display: block; width: 100%; height: 100%;}
.content1_in .top_cun .j_currtun>p{  font-size: 18px; color: #858585; letter-spacing: 5px; margin-top:2px; }
.content1_in .bottom_cun{ float: left; width: 100%; height: 380px;}
.content1_in .bottom_cun .left_cun{ float: left; width: 602px; height: 380px; background: url(/assets/sale-after/exception-handle/sement_bj.jpg) no-repeat; }
.content1_in .bottom_cun .right_cun{ float: right; width: 360px; height: 375px; box-shadow: 0 0 10px #ccc; background: #fff; padding: 30px 0 0 20px; box-sizing: border-box; }
.bottom_cun .right_cun .cun_titl{ font-size: 20px; color: #444444; }
.bottom_cun .right_cun  .cun_user{ float: left; width: 300px; height: 40px; border: 1px solid #ccc; margin-top: 24px; position: relative; }
.bottom_cun .right_cun  .cun_user>label{ float: left; width: 40px; height: 40px; }
.bottom_cun .right_cun  .cun_user>label>i{ display: block; width: 100%; height: 100%; }
.bottom_cun .right_cun  .cun_user>label .yonhu{ background: url(/assets/sale-after/exception-handle/yonhu.png) no-repeat center; }
.bottom_cun .right_cun  .cun_user>label .mima{ background: url(/assets/sale-after/exception-handle/mima.png) no-repeat center; }
.bottom_cun .right_cun  .cun_user>input{ float: left; width: 255px; height: 40px; line-height: 40px;padding: 2px; box-sizing: border-box; border: none;outline:none; }
.bottom_cun .right_cun  .cun_user .xi{ width: 20px; height: 20px; position: absolute; right: 10px; top: 10px; cursor: pointer; }
.bottom_cun .right_cun  .cun_user .guan_bi{ background: url(/assets/sale-after/exception-handle/guanbi.png) no-repeat;}
.bottom_cun .right_cun  .cun_user .cha_kan{ background: url(/assets/sale-after/exception-handle/chakan.png) no-repeat;}

.bottom_cun .right_cun  .cun_user.forget{ margin: 15px 0; height: auto; border: none; }
.bottom_cun .right_cun  .cun_user.forget .left{ float: left; line-height: 14px; }
.bottom_cun .right_cun  .cun_user.forget .left input{float: left; width: 15px; height: 15px; border: 1px solid #ccc; margin-right: 3px; cursor: pointer; }
.bottom_cun .right_cun  .cun_user.forget .right{ float: right; }
.bottom_cun .right_cun  .cun_user.Signin{ border: none; margin-top: 0; }
.bottom_cun .right_cun  .cun_user>.cun_Signin{ display: block;  width: 100%; height: 100%; line-height: 40px; text-align: center; color: #fff; background: #0d85e4; font-size: 18px; }

.content1_in .cun_about{width: 100%; text-align: center;}
.content1_in .cun_about ul{ display: inline-block; margin-top: 40px; }
.content1_in .cun_about ul li{ float: left; margin: 0 5px; color: #999999; font-size: 13px; }
.content1_in .cun_about ul li a{  color: #999999; font-size: 13px; }




/*修改密码*/
.Password{ width: 100%; height: 50px; background: #0d85e4; }
.Password .Password_in{ width: 1000px; height: 50px; margin: 0 auto; }
.Password .Password_in .left{ float: left; }
.Password .Password_in .left>h1{ width: 90px; height: 28px; background: url(/assets/sale-after/exception-handle/logo_in.png) no-repeat; margin-top: 10px; }
.Password .Password_in .left>h1>a{ display: block; width: 100%; height: 100%; }
.Password .Password_in .right{ float: right; }
.Password .Password_in .right ul li{ float: left;  margin: 0 8px; margin-top: 13px;color: #fff;}
.Password .Password_in .right ul li a{ color: #fff; font-size: 14px; }

.identity_rz{ width: 1000px; margin: 0 auto; }
.identity_rz .identity_in{ width: 720px; height: 500px; border: 1px solid #dddddd; margin: 70px auto; border-radius: 5px; background: #fff; }
.identity_rz .zhao_code{ width: 100%; height: 48px; line-height: 48px; border-bottom: 1px solid #dddddd; font-size: 16px; color: #333; padding: 0 19px; box-sizing: border-box; }
.identity_rz .zhuang_tai{ width: 450px; margin: 40px auto; }
.identity_rz .zhuang_tai .rz_state{ width: 100%; height: 45px; margin-top: 20px; }
.identity_rz .zhuang_tai .rz_state ul{ display: block; float: left; margin-top: 20px; }
.identity_rz .zhuang_tai .rz_state ul li{ float: left; width: 225px; height: 4px; background: #0d85e4; position: relative; }
.identity_rz .zhuang_tai .rz_state ul li .recognize{ width: 60px; height: 60px;position: absolute; bottom:-12px ; left: -17px; }
.identity_rz .zhuang_tai .rz_state ul li .recognize .tity{ display: block; width: 30px; height:30px; line-height: 30px; border-radius: 20px; margin-top: 10px; text-align: center; color: #fff;     margin-left: 14px; }
.identity_rz .zhuang_tai .rz_state ul li .recognize>p{ text-align: center; }
.identity_rz .zhuang_tai .rz_state ul li .recognize.right{ left: auto; right:-35px; }
.identity_rz .zhuang_tai .rz_state ul li .recognize .tity.left{ background: url(/assets/sale-after/exception-handle/dago.png) no-repeat center; }
.identity_rz .zhuang_tai .rz_state ul li .recognize .tity.zho{ background: url(/assets/sale-after/exception-handle/dago2.png) no-repeat center; }
.identity_rz .zhuang_tai .rz_state ul li .recognize .tity.right{ background: url(/assets/sale-after/exception-handle/dago3.png) no-repeat center; }
.identity_rz .Copyright{ width: 100%; text-align: center;}
.identity_rz .Copyright ul{ display: inline-block; }
.identity_rz .Copyright ul li{ float: left; margin: 0 5px; font-size: 13px; color: #999999; }
.identity_rz .Copyright ul li a{ font-size: 13px; color: #999999; }

.switch1>div{ display: none; }
.switch1>div.current{ display: block; }
.identity_rz .number{ width: 300px; height: 200px; margin: 50px auto; }
.identity_rz .sho_ji{ display: block; }
.identity_rz .sho_ji .sho_ji_in{ width: 298px; height: 38px; border-radius: 2px; border: 1px solid #dddddd; padding: 3px; box-sizing: border-box; }
.identity_rz .number>p{ line-height: 30px; font-size: 13px; }
.identity_rz .number>p.m{ text-align: center; }
.identity_rz .number .xia_bu{display: block; width: 298px; height: 38px; line-height: 38px; text-align: center; border-radius: 2px; background: #0d85e4; color: #fff; font-size: 14px; margin-top: 20px; }
.identity_rz .sho_ji .left{ float: left; width: 198px; height: 38px; line-height: 38px; padding: 3px; box-sizing: border-box; border-radius: 3px; border: 1px solid #DDDDDD; }
.identity_rz .sho_ji .right{ margin-left: 10px; width: 89px; height: 38px; line-height: 38px; text-align: center; background: #fff; border: 1px solid #0d85e4; cursor: pointer; color: #0d85e4;  }




/*home page*/
.page_content{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.page_content .content_mo{ width: 80%; height: 600px; margin: 70px auto; }
.page_content .content_mo .search_cm{ width: 80%; height: 48px; line-height: 48px; margin: 0 auto; position: relative; }
.content_mo .search_cm>input{ width: 100%; height: 48px; line-height: 48px;  padding-left:15px; box-sizing: border-box; border: 1px solid #ccc; border-radius: 30px; outline:none;}
.content_mo .search_cm>em{ width:30px; height: 30px; position: absolute; top: 10px; right: 10px; background: url(../images/sosuo.png) no-repeat; cursor: pointer; }
.content_mo .state_task{ width: 100%; float: left; margin-top: 65px;  }
.state_task .task_left,.state_task .task_right{ width: 49%; float: left; padding: 3%; box-shadow: 0 0 10px #ccc; box-sizing: border-box; border-radius: 3px; }
.state_task .task_left{ margin-right: 2%; }
.state_task .task_left ul li{ float: left; width:27%; margin: 3%; box-sizing: border-box; text-align: center; }
.state_task .task_left ul li>img{ display: inline-block; width:60%; height: auto; }
.state_task .task_left ul li>.bottom_m{ margin-top: 10px; }
.state_task .task_left ul li>.bottom_m h3{ font-size: 18px; color: #444444;text-align: center; }
.state_task .task_left ul li>.bottom_m p{ font-size: 13px; color: #999;text-align: center; }

.state_task .task_right{ padding: 0;  box-shadow: none; }
.state_task .task_right ul li{ float: left; width: 45%;box-shadow: 0 0 10px #ccc; box-sizing: border-box; border-radius: 3px;  padding-bottom: 8%;margin-right: 5%; margin-bottom: 3%; }
.state_task .task_right ul li>.top{ float: left; width: 100%;margin-top: 10%; padding-left: 10%; padding-bottom:9%; box-sizing: border-box; }
.state_task .task_right ul li>.top>.right{ float: left; width: 30%; position: relative; }
.state_task .task_right ul li>.top>.right>img{ float: left; width: 100%; height: auto; background-size: 100% 100%; position: absolute;}
.state_task .task_right ul li>.top>.left{ float: right; width: 62%; }
.state_task .task_right ul li>.top>.left h3{ line-height: 35px; font-size: 16px; color: #666666; margin-top: 8px; }
.state_task .task_right ul li>.top>.left p{ color: #999999; font-size: 13px; }
.state_task .task_right ul li>.bottom{ display: block; float: left; width: 100%; color:#0d85e4; font-size: 24px; text-align: center;}





/*异常处理--弹框*/
.handle_tank.yc01{ display: none; }
.handle_tank{ width: 420px; height: auto; position: absolute;  left: 50%; top: 50%; margin-left: -210px; background: #fff; margin-top: -200px; box-shadow: 0 0 10px #ccc; border-radius: 3px; }
.handle_tank .top_tank{ width: 100%; height: 40px; background: #0d85e4; border-top-right-radius: 3px;border-top-left-radius: 3px; padding: 0 15px; box-sizing: border-box;  }
.handle_tank .top_tank .left{ float: left; line-height: 40px; color: #fff; font-size: 14px; }
.handle_tank .top_tank .right{ float: right; line-height: 40px; font-size: 24px; cursor: pointer; color: #fff; }
.handle_tank .zho_tank{ width: 100%; padding:15px 20px; box-sizing: border-box; float: left; }
.handle_tank .bottom_tank{ width: 100%; float: left; padding: 15px 0; border-top: 1px solid #f0f0f0; }
.handle_tank .bottom_tank ul{ float: right; }
.handle_tank .bottom_tank ul li{ float: left; margin-right: 10px; }
.handle_tank .zho_tank .ren_wu{ width: 100%; float: left; font-size: 14px; color: #444; line-height: 30px;}
.handle_tank .zho_tank .drop_down{ width: 100%; float: left;  }
.handle_tank .zho_tank .drop_down>input{ width: 219px; height: 28px; line-height: 28px; padding: 3px; box-sizing: border-box; }
.handle_tank .zho_tank .drop_down>select{ width: 219px; height: 28px; line-height: 28px; padding: 3px; box-sizing: border-box; }
.handle_tank .zho_tank .drop_down>textarea{ width: 310px; height: 50px; padding: 3px; box-sizing: border-box; resize: none; }
.handle_tank .increase_on{ width: 100%; float: left; margin-top: 10px; }
.handle_tank .increase_on ul li{width: 100%; float: left; margin-bottom: 5px;}
.handle_tank .increase_on ul li>span{display: block; float: left; margin-right: 5px; line-height: 30px;}
.handle_tank .increase_on ul li>span>input{ width: 100%; height: 28px; line-height: 28px; padding: 3px; box-sizing: border-box; }
.handle_tank .increase_on ul li>span.bu1{ width: 100px; }
.handle_tank .increase_on ul li>span.bu2{ width: 100px; }
.handle_tank .increase_on ul li>span.bu3{ width: 100px; }
.handle_tank .increase_on ul li>span.bu4,.handle_tank .increase_on ul li>span.bu5{  float: left; display: block; width: 20px; height: 20px; line-height: 14px; background: #0da0fd; border-radius: 10px; font-size: 35px; color: #fff;text-align: center; margin: 5px 3px; cursor: pointer;}
.handle_tank .increase_on ul li>span.bu5{ background: #25c26f; font-size: 21px;line-height: 17px;}

/*维修任务--弹框*/
.handle_tank.yc02{ display: none; }
.handle_tank .repair01{ float: left; width: 100%; margin-bottom: 5px; }
.handle_tank .repair01>span{ display: block; float: left; width: 188px; }
.handle_tank .repair01>span>h3{ line-height: 30px; }
.handle_tank .repair01>span>input{ width: 159px; height: 28px; line-height: 28px; padding: 2px; box-sizing: border-box; }
.handle_tank .repair01>span.left_m>select,.handle_tank .repair01>span.right_m>select{ width: 159px; height: 28px; line-height: 28px; padding: 2px; box-sizing: border-box; }
.handle_tank .repair01>span>h3 em{ color: #FF0000; }

/*返货任务--弹框*/
.handle_tank.yc03{ display: none; }
.handle_tank .zho_tank .feng_hu{ float: left;  line-height: 24px;}
.handle_tank .zho_tank ul.Carrier{ float: left; margin-left: 10px; }
.handle_tank .zho_tank ul.Carrier li{ float: left; width: 70px; height: 24px; line-height: 24px; text-align: center; margin: 0 3px; background: #e6e6e6; cursor: pointer; }
.handle_tank .zho_tank ul li.current{ background: #0d85e4; color: #fff; }
.handle_tank .merchant{ padding: 10px; box-sizing: border-box;width: 100%; float: left; padding-top: 0;  }
.handle_tank .merchant>div{ display:none;  }
.handle_tank .merchant>div.current{ display: block; }
.handle_tank .merchant_zho{ width: 100%; padding: 10px; border: 1px solid #f0f0f0; box-sizing: border-box;float: left; }
.handle_tank .merchant_zho .zho01{ float: left; width: 100%; }
.handle_tank .merchant_zho .zho01>input{ float: left; width: 99px; height: 25px; line-height: 28px; border: 1px solid #dddddd; padding: 3px; margin-right: 5px;}
.handle_tank .merchant_zho .zho01 .sho,.handle_tank .merchant_zho .zho01 .qu{ float: left; width: 20px; height: 20px; line-height: 20px; text-align: center; margin-top: 10px;background: #ae5da1; color: #fff; border-radius: 10px; }
.handle_tank .merchant_zho .zho01 .qu{ background: #0da0fd; }
.handle_tank .merchant_zho .zho01 .formulate>li>span{ float: left; width: 88px; height: 20px; line-height: 20px; }
.handle_tank .merchant_zho .zho01 .formulate>li>span>em{ color: #FF0000; }
.handle_tank .merchant_zho .zho01 .formulate>li>input{ float: left; width: 88px; height: 28px; line-height: 28px; padding: 3px; box-sizing: border-box; }
.handle_tank .merchant_zho .zho01 ul li{ float: left; width: 100%; margin: 3px 0; }
.handle_tank .merchant_zho .zho01 ul li .jian,.handle_tank .merchant_zho .zho01 ul li .jia{ float: left; width: 20px; height: 20px; text-align: center; border-radius: 10px; background: #0da0fd; margin-left: 5px; margin-top: 5px; color: #fff; font-size: 28px; line-height: 13px; cursor: pointer; }
.handle_tank .merchant_zho .zho01 ul li .jia{ background: #25c26f; font-size: 21px;line-height: 15px; }
.handle_tank .merchant_zho .zho01 ul li>span{ float: left; width:95px; height: 28px; line-height: 28px; margin-right: 5px; }
.handle_tank .merchant_zho .zho01 ul li>input{  float: left; width: 95px; height: 28px; line-height: 28px;margin-right: 5px; padding: 2px; box-sizing: border-box; }
.handle_tank .merchant_zho .zho01 .shan_jing{ width: 170px;margin-top: 5px; }
.handle_tank .merchant_zho .zho01 .shan_titl{ line-height: 20px;}
.handle_tank .merchant_zho .zho01 .shen_sr{ width: 160px; height: 28px; line-height: 28px; padding: 2px; box-sizing: border-box; margin-top: 5px; }

.handle_tank .fen_remarks{ float: left; width: 100%; padding: 10px; box-sizing: border-box; }
.handle_tank .fen_remarks .remarks_top{ display: block; }
.handle_tank .fen_remarks textarea{ width: 380px; height: 52px; padding: 3px; resize: none; box-sizing: border-box; margin-top: 10px; }
.handle_tank .merchant_zho .zho_m{ float: left; margin: 6px 0; }
.handle_tank .merchant_zho .zho_m .left_p{ float: left; }
.handle_tank .merchant_zho .zho_m .right_p{ float: left; }
.handle_tank .merchant_zho .zho_m .right_p>li{ float: left; width: auto; margin: 0 7px;padding-left: 18px; box-sizing: border-box; background: url(/assets/sale-after/exception-handle/circular1.png) no-repeat left center; cursor: pointer; }
.handle_tank .merchant_zho .zho_m .right_p>li.current{ background: url(/assets/sale-after/exception-handle/circular2.png) no-repeat left center; }

.handle_tank .merchant_zho.fu{ background: url(/assets/sale-after/exception-handle/cheng.png) no-repeat bottom right; }
.handle_tank .merchant_zho.cheng{ background: url(/assets/sale-after/exception-handle/fu.png) no-repeat bottom right; }




/*其他--弹框--旧*/
.handle_tank.yc04{ display: block; width: 575px; }
.handle_tank .zho_tank .xingxi_modify{ width: 100%; float: left; }
.handle_tank .zho_tank .xingxi_modify .tatl{ float: left; line-height: 26px;margin-right: 5px; }
.handle_tank .zho_tank .xingxi_modify>ul{ float: left; }
.handle_tank .zho_tank .xingxi_modify>ul>li{ float: left; height: 26px;  line-height: 26px; padding: 0 12px; background: #d4eaff; margin: 0 3px; cursor: pointer; }
.handle_tank .zho_tank .xingxi_modify>ul>li.current{ background: #0d91fc; }
.handle_tank .zho_tank .cost_liebiao{ float: left; width: 100%; padding: 10px; border: 1px solid #f0f0f0; margin-top: 10px; box-sizing: border-box;  }
.handle_tank .zho_tank .cost_liebiao ul li{width: 100%; float: left; margin-bottom: 3px; }
.handle_tank .zho_tank .cost_liebiao ul li>*{ display: block; float: left; height: 26px; line-height: 26px; margin-right: 4px; }
.handle_tank .zho_tank .cost_liebiao ul li>input{ padding: 2px; box-sizing: border-box; }
.handle_tank .zho_tank .cost_liebiao ul li>.s1{ width: 90px; }
.handle_tank .zho_tank .cost_liebiao ul li>.s2{ width: 55px; text-align: center; }
.handle_tank .zho_tank .cost_liebiao ul li>span.s2{ color: #2997fc; }
.handle_tank .zho_tank .cost_liebiao ul li>span.s3{ color: #25c26f; }
.handle_tank .zho_tank .cost_liebiao ul li>.s3{ width: 75px; }
.handle_tank .zho_tank .cost_liebiao ul li>.s4{ width: 75px; }
.handle_tank .zho_tank .cost_liebiao ul li>.s5{ width: 75px; }
.handle_tank .zho_tank .cost_liebiao ul li>.s6{ width: 75px; }
.handle_tank .zho_tank .cost_liebiao ul li .jian,.handle_tank .zho_tank .cost_liebiao ul li .jia{ float: left; width: 20px; height: 20px; text-align: center; border-radius: 10px; background: #0da0fd; margin-top: 5px; color: #fff; font-size: 28px; line-height: 13px;cursor: pointer; margin-right: 2px; }
.handle_tank .zho_tank .cost_liebiao ul li .jia{background: #25c26f;font-size: 21px; line-height: 15px; }
.handle_tank .zho_tank .eliminate{ float: left; width: 100%; margin-top: 8px; }
.handle_tank .zho_tank .eliminate .left_ate{ float: left; width: 250px; }
.handle_tank .zho_tank .eliminate .left_ate>span{  float: left; line-height: 28px;}
.handle_tank .zho_tank .eliminate .left_ate>span.m{ width: 73px;  }
.handle_tank .zho_tank .eliminate .left_ate>span>em{ color: #FF0000; }
.handle_tank .zho_tank .eliminate .left_ate>input{ float: left;  width: 120px; height: 28px; line-height: 28px; padding: 3px; box-sizing: border-box; margin-left: 5px; }
.handle_tank .zho_tank .eliminate .left_ate>select{ float: left;  width: 120px; height: 28px; line-height: 28px; padding: 3px; box-sizing: border-box; margin-left: 5px; }
.handle_tank .zho_tank .eliminate .right_ate{  float: left; width: 250px; }
.handle_tank .zho_tank .eliminate .eliminate_titl{ display: block;line-height: 25px;}
.handle_tank .zho_tank .eliminate textarea{ width: 510px; height: 52px; padding: 3px; box-sizing: border-box; resize: none; }


/*否决--弹框*/
.handle_tank.yc05{ width: 400px;  }
.handle_tank .zho_tank .veto_titi{ display: block; line-height: 25px; color: #444444; }
.handle_tank .zho_tank .veto_titi em{ color: #FF0000; }
.handle_tank .zho_tank .veto_text{ width: 330px; height: 48px; padding: 3px; box-sizing: border-box; resize: none; }



/*产品信息*/
.product_xingxi{ float: left; width: 100%; padding: 10px; box-sizing: border-box; border: 1px solid #f0f0f0; margin-top: 10px; padding-top: 33px; position: relative; }
.product_xingxi .product_left{ width: 210px; float: left; }
.product_xingxi .product_left table{ width: 100%; }
.product_xingxi .product_left table tr th{ text-align: center; line-height: 15px; }
.product_xingxi .product_left table tr .t1{ width: 40%;text-align: left; padding-bottom: 5px;}
.product_xingxi .product_left table tr .t1 .ying{ color: #2997fc; }
.product_xingxi .product_left table tr .t2{ width: 15%; }
.product_xingxi .product_left table tr .t3{ width: 15%; }
.product_xingxi .product_left table tr .t4{ width: 15%; }
.product_xingxi .product_left table tr .t5{ width: 15%; }
.product_xingxi .product_left table tr td{ text-align: center; padding: 5px 0; }
.product_xingxi .product_left table tr td:first-child{ text-align: left; }

.product_xingxi .product_right{ float: left; width: 290px; margin-left: 10px; }
.product_xingxi .product_right table{ width: 100%; }
.product_xingxi .product_right table tr th{ text-align: center; line-height: 15px; }
.product_xingxi .product_right table tr .t1{ width: 34%;text-align: left; padding-bottom: 5px;}
.product_xingxi .product_right table tr .t1 .ying{ color: #2997fc; }
.product_xingxi .product_right table tr .t1 .gai{ color: #25c26f; }
.product_xingxi .product_right table tr .t2{ width: 13%; padding-right: 2%; }
.product_xingxi .product_right table tr .t3{ width: 13%; padding-right: 2%; }
.product_xingxi .product_right table tr .t4{ width: 20%; }
.product_xingxi .product_right table tr .t5{ width:20%; }
.product_xingxi .product_right table tr td{ text-align: center; padding: 5px 0; vertical-align:bottom; }
.product_xingxi .product_right table tr td select{ box-sizing: border-box; height: 20px; line-height: 20px;}
.product_xingxi .product_right table tr td input{ width:97%; height: 20px; line-height: 20px; box-sizing: border-box; }
.product_xingxi .product_right table tr td:first-child{ text-align: left; }
.product_xingxi>span{ display: block; height: 24px; line-height: 24px; padding:0 10px; background: #e5e5e5; position: absolute; top: 0; }
.product_xingxi>span.left_k{ left: 0; }
.product_xingxi>span.left_k i{ height: 24px;width: 20px; position: absolute; right:-18px; background: url(../images/infor.png) no-repeat; }
.product_xingxi>span.right_k{ right: 10px; width: 24px; line-height: 22px; font-size: 20px; background: #fff; top: 5px; border: 1px solid #e5e5e5; color: #333; text-align: center; padding: 0; border-radius: 20px; cursor: pointer; }

/*收货信息*/
.product_xingxi .goods_receipt table{ width: 100%; }
.product_xingxi .goods_receipt table tr th{ text-align: left; padding-bottom: 3px; }
.product_xingxi .goods_receipt table tr th .ying{ color: #2997fc; }
.product_xingxi .goods_receipt table tr th .gai{ color: #25c26f;}
.product_xingxi .goods_receipt table tr td{ text-align: left; padding: 3px 0; }
.product_xingxi .goods_receipt table tr td>input{ width: 168px; height: 26px; line-height: 26px; padding: 2px; box-sizing: border-box; }
.product_xingxi .goods_receipt table tr td .xianti{ width: 168px; height: 26px; line-height: 26px;}
.product_xingxi .goods_receipt table tr .t1{ width: 25%; }
.product_xingxi .goods_receipt table tr .t2{ width: 30%; }
.product_xingxi .goods_receipt table tr .t3{ width: 45%; }


/*new 其他任务弹框*/
.others_tank{
    width: 800px;
    height: 708px;
    margin: 50px auto;
    background-color: #FBFAFA;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px #666;
    border-radius: 4px;
}
.others_tank .others_top{
    width: 100%;
    height: 40px;
    background-color: #0D85E4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    padding: 0 15px;
}
.others_tank .others_top .top_left{
    float: left;
    color: #fff;
    font:normal 400 14px "microsoft yahei", "sans-serif";
    line-height: 40px;
}
.others_tank .others_top .top_right{
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    font:normal 400 24px "microsoft yahei", "sans-serif";
    line-height: 40px;
}

.others_tank .others_content{
    width: 100%;
    height: 610px;
    box-sizing: border-box;
    overflow-y: auto;
    border-bottom: 1px solid #eee;
}
.others_tank .others_content .content_title{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
}
.others_tank .others_content .content_title h3{
    font:normal 400 12px "microsoft yahei", "sans-serif";
    line-height: 50px;
    color: #0B7DD8;
}

.others_content form .content_jiben{
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    box-sizing: border-box;
    padding:0px 20px;
}
.others_content form .content_jiben .jiben_item{
    width: 100%;
    height: 30px;
    margin-top:10px;
}
.jiben_item>span{
    display: inline-block;
    height: 30px;
    font:normal 400 12px "microsoft yahei", "sans-serif";
    line-height: 30px;
    color: #333;
    float: left;
}
.jiben_item .item1{
    width: 135px;
}
.jiben_item .item2 , .jiben_item .item3{
    width: 232px;
}

.jiben_item .item3>select{
    display: inline-block;
    width: 200px;
    height: 28px;
    border: 1px solid #ddd;
    font:normal 400 12px "microsoft yahei", "sans-serif";
    color: #333;
}
.jiben_item .item3>input{
    display: inline-block;
    width: 200px;
    height: 28px;
    border: 1px solid #ddd;
    font:normal 400 12px "microsoft yahei", "sans-serif";
    color: #333;
    box-sizing: border-box;
    padding-left:5px;
}
.others_content form .content_jiben .jiben_zerenfang{
    width: 100%;
    min-height: 55px;
    box-sizing: border-box;
    margin-top: 18px;
    padding-top:15px;
    border-top: 1px solid #F0F0F0;
}
.jiben_zerenfang .zerenfang_title, .jiben_tihuo .tihuo_title{
    width: 108px;
    height: 30px;
    float: left;
    font:normal 400 12px "microsoft yahei", "sans-serif";
    color: #333;
    line-height: 30px;
}
.jiben_zerenfang .zerenfang_content{
    width: 260px;
    float: left;
}
.jiben_zerenfang .zerenfang_content .zerenfang_item{
    width: 260px;
    height: 30px;
    margin-bottom:10px;
}
.jiben_zerenfang .zerenfang_content .zerenfang_item>select{
    float: left;
    display: inline-block;
    width: 140px;
    height: 30px;
    border: 1px solid #ddd;
    font:normal 400 12px "microsoft yahei", "sans-serif";
    color: #333;
    margin-right: 10px;
}
.item_jian, .item_jia{
    float: left; width: 20px; height: 20px; text-align: center; border-radius: 10px; background: #0da0fd; margin-left: 5px; margin-top: 5px; color: #fff; font-size: 28px; line-height: 13px; cursor: pointer;
}
.item_jia{
    background: #25c26f; font-size: 21px;line-height: 15px;
}

.others_content form .content_jiben .jiben_tihuo{
    width: 100%;
    height: 30px;
    margin: 8px 0px 15px;
}
.jiben_tihuo .tihuo_genggai{
    float: left;
    width: 65px;
    height: 30px;
    font:normal 400 12px "microsoft yahei", "sans-serif";
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: #0D85E4;
    border-radius: 3px;
}

.others_content form .content_feiyongxinxi{
    width: 100%;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    box-sizing: border-box;
    background-color: #fff;
}
.others_content form .content_feiyongxinxi .feiyongxinxi_yuan{
    float: left;
    width: 337px;
    /*height: 200px; !*开发后删*!*/
    box-sizing: border-box;
    border-right: 1px solid #F0F0F0;
    padding-left: 20px;
    padding-top: 20px;
}
.feiyongxinxi_yuan .feiyongxinxi_yuan_top,
.feiyongxinxi_gai .feiyongxinxi_gai_top{
    width: 100%;
    height: 15px;
    font:normal 400 12px "microsoft yahei", "sans-serif";
    color: #2997FC;
}
.feiyongxinxi_yuan .feiyongxinxi_yuan_item,
.feiyongxinxi_gai .feiyongxinxi_gai_item{
    width: 100%;
    height: 28px;
    margin-top: 10px;
    /*background-color: #eef;*/

}
.feiyongxinxi_yuan .feiyongxinxi_yuan_item ul li,
.feiyongxinxi_gai .feiyongxinxi_gai_item ul li{
    float: left;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.feiyongxinxi_yuan .feiyongxinxi_yuan_item ul .yuan_pinming{
    width: 70px;
}
.feiyongxinxi_yuan .feiyongxinxi_yuan_item ul .yuan_baozhuang,
.feiyongxinxi_yuan .feiyongxinxi_yuan_item ul .yuan_anzhuang{
    width: 65px;
}
.feiyongxinxi_yuan .feiyongxinxi_yuan_item ul .yuan_zhongliang,
.feiyongxinxi_yuan .feiyongxinxi_yuan_item ul .yuan_tiji{
    width: 55px;
}
.content_feiyongxinxi .feiyongxinxi_yuan .font_bold ul li,
.content_feiyongxinxi .feiyongxinxi_gai .font_bold ul li{
    font-weight: bold;
}



.others_content form .content_feiyongxinxi .feiyongxinxi_gai{
    float: right;
    width: 443px;
    /*height: 200px; !*开发后删*!*/
    box-sizing: border-box;
    padding-left:30px;
    padding-top: 20px;
}
.feiyongxinxi_gai .feiyongxinxi_gai_top{
    color: #25C26F;
}
.feiyongxinxi_gai .feiyongxinxi_gai_item ul .gai_pinming{
    width: 124px;
}
.feiyongxinxi_gai .feiyongxinxi_gai_item ul .gai_input{
    width: 72px;
}
.feiyongxinxi_gai .feiyongxinxi_gai_item ul .gai_pinming select{
    width: 110px;
    height: 25px;
    border: 1px solid #DDDDDD;
    color: #333;
}
.feiyongxinxi_gai .feiyongxinxi_gai_item ul .gai_input input{
    width: 60px;
    height: 25px;
    border: 1px solid #DDDDDD;
    color: #333;
    background-color: #FBFAFA;
}

.others_content form .content_feiyongchuli{
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #fff;
    min-height:110px;
    padding: 0px 20px;
}
.content_feiyongchuli>div{
    width: 100%;
    /*margin-bottom:8px;*/
}
.content_feiyongchuli .feiyongchuli_item{
    margin-bottom:10px;
}
.content_feiyongchuli .feiyongchuli_title ul li{
    float: left;
    height: 34px;
    line-height: 34px;
}
.content_feiyongchuli .feiyongchuli_item ul li{
    float: left;
    height: 30px;
    line-height: 30px;
}
ul .feiyongchuli_mingcheng{
    width: 110px;
}
ul .feiyongchuli_yuan{
    width: 56px;
    text-align: center;
}
ul .feiyongchuli_gai{
    width: 90px;
}
ul .feiyongchuli_chae{
    width: 94px;
}
ul .feiyongchuli_zerenren{
    width: 95px;
}
ul .feiyongchuli_jine{
    width: 145px;
}
ul .feiyongchuli_buchang{
    width: 150px;
}
.feiyongchuli_item ul li select , .feiyongchuli_item ul li input{
    height: 28px;
    border: 1px solid #ddd;
}
ul .feiyongchuli_mingcheng select{
    width: 108px;
}
ul .feiyongchuli_gai input, ul .feiyongchuli_chae input{
    width: 74px;
}
ul .feiyongchuli_zerenren select,
ul .feiyongchuli_jine input,
ul .feiyongchuli_buchang select{
    width: 85px;
}
ul .feiyongchuli_jine input , ul .feiyongchuli_buchang select{
    float: left;
}
.item_jian2, .item_jia2{
    float: left; width: 20px; height: 20px; text-align: center; border-radius: 10px; background: #fff; margin-left: 5px; margin-top: 5px; color: #0da0fd; font-size: 28px; line-height: 13px; cursor: pointer;
}
.item_jia2{
    color: #25c26f; font-size: 21px;line-height: 15px;
}

.content_feiyongchuli .feiyongchuli_jieguo{
    height: 150px;
    background-color: #fff;
    box-sizing: border-box;
    border-top:1px solid #F0F0F0;
}
.content_feiyongchuli .feiyongchuli_jieguo h4{
    line-height: 48px;
}
.content_feiyongchuli .feiyongchuli_jieguo .jieguo_item{
    float: left;
    width: 334px;

}
.content_feiyongchuli .feiyongchuli_jieguo .jieguo_item b{
    font-weight: 900;
}
.content_feiyongchuli .feiyongchuli_jieguo .jieguo_item em{
    color: red;
}

.content_feiyongchuli .feiyongchuli_jieguo .jieguo_pingzheng{
    width: 100%;
    height: 60px;
    /*background-color: #eef;*/
    margin-top:10px;
}
.jieguo_pingzheng .pingzheng_img{
    display: inline-block;
    width: 56px;
    height: 56px;
    margin-right:10px;
    position: relative;
}
.jieguo_pingzheng .pingzheng_img img{
    width: 56px;
    height: 56px;
    cursor: pointer;
}
.jieguo_pingzheng .pingzheng_img em{
    display: none;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 13px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}
.jieguo_pingzheng .pingzheng_img:hover em{
    display: inline-block;
}
.jieguo_pingzheng .pingzheng_btn{
    display: inline-block;
    width: 98px;
    height: 28px;
    background-color: #eee;
    color: #999;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    top:-10px;
}




.others_content form .content_qita{
    width: 100%;
    height: 170px;
    box-sizing: border-box;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #fff;
    padding-left:20px;
    padding-top:10px;
    position: relative;
}
.content_qita .qita_zhuan{
    float: left;
    width: 125px;
    line-height:32px;
}
.content_qita .qita_zhuan input{
    float: left;
    width: 15px;
    height: 15px;
    position: relative;
    top:8px;
}
.content_qita .qita_zhuan span{
    float: left;
}
.content_qita .qita_yuanyin{
    float: left;
    width: 210px;
    height: 32px;
}
.content_qita .qita_yuanyin span{
    float: left;
    line-height: 32px;
}
.content_qita .qita_yuanyin select{
    float: left;
    width: 120px;
    height: 30px;
    border: 1px solid #ddd;
    margin-left:10px;
    color: #333;
}
.content_qita h4{
    line-height: 28px;
    margin-top: 10px;
    position: absolute;
    top: 36px;
    left: 21px;
}
.content_qita h4 em{
    color: red;
}
.content_qita textarea{
    width: 530px;
    height: 82px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 9px 11px;
    resize: none;
    position: absolute;
    top: 73px;
    left: 20px;
}


.others_btn{
    width: 100%;
    height: 50px;
    position: relative;
}
.others_btn .others_btn_save,
.others_btn .others_btn_cancel{
    display: inline-block;
    width: 60px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #0D85E4;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 52%;
}
.others_btn .others_btn_cancel{
    background-color: #ddd;
    color: #333;
    right: 40%;
}










/*字体颜色*/
.color1{ color: #fff;}/*白*/
.color2{ color: #ff4e45;}/*红*/
.color3{ color: #343d47; }/*黑*/

/*背景颜色*/
.backg1{ background: #0da0fd;}/*浅蓝*/
.backg2{ background: #2d3244;}/*中蓝*/
.backg3{ background: #0d85e4;}/*深蓝*/

/*确定按钮*/
.determine1{ display: inline-block; padding: 0 27px; height: 26px; line-height:26px; text-align: center; font-size: 14px; color: #fff; background: #0d85e4;cursor: pointer; border-radius: 2px;}
.determine1:hover{ background: #269bf8;}

/*取消按钮*/
.cancel1{ display: inline-block; padding: 0 27px;  height: 26px; line-height:26px; text-align: center; font-size: 14px; color: #585858; background: #f7f7f7;cursor: pointer; border-radius: 2px; border: 1px solid #dddddd;}
.cancel1:hover{ background: #fff;}

/*字体大小*/
.size2{ font-size: 12px; font-family: "微软雅黑"; }
.size4{ font-size: 14px; font-family: "微软雅黑"; }

/*浮动*/
.left1{ float: left; }
.right1{ float: right; }


.relative{ position: relative; }
.absolute{ position: absolute; }


.block{ display: block; }
.inline{ display: inline-block; }
.hide{display: none;}


.text-center{ text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}








