<form id="from" #formbox>
    <div id="wait_trace">
        <div class="province order-state-btn">
            <span class="province-address">目的地</span>
            <div class="addr-control">
                <ui-select-box name="someName" [(ngModel)]="vTaskMixSearch.area" [data-handler]="dataHandler"></ui-select-box>
            </div>
            <span class="line-state">任务类型</span>
            <select name="selectTaskType" class="all_state" [(ngModel)]="vTaskMixSearch.taskType" (ngModelChange)="taskTypeChanged($event)">
                <option  value="All">全部</option>
                <option  value="dispatchTask"> 调度任务 </option>
                <option value="repair"> 维修任务</option>
                <option value="fhreturn"> 返货任务 </option>
                <option value="pickUP"> 自提任务</option>
            </select>
            <span class="line-state">任务状态</span>
            <select name="selectTaskStates" class="all_state" [(ngModel)]="vTaskMixSearch.taskStatus" (ngModelChange)="taskStatusChanged($event)">
                <!--<option  value="all">全部状态</option>-->
                <!--<option  value="waitDistribution"> 待分配 </option>-->
                <!--<option  value="waitAppointment"> 待预约 </option>-->
                <!--<option  value="distributionWaitAccept"> 待受理 </option>-->
                <!--<option  value="waitSign"> 待签收 </option>-->
                <!--<option  value="doSign"> 已签收 </option>-->
                <option  value="All">全部</option>
                <option  value="waitDistribution" *ngIf="vTaskMixSearch.taskType=='dispatchTask' || vTaskMixSearch.taskType=='repair' || vTaskMixSearch.taskType=='fhreturn'"> 待分配 </option>
                <option  value="accepted" *ngIf="vTaskMixSearch.taskType=='dispatchTask' || vTaskMixSearch.taskType=='repair'"> 待预约 </option>
                <option  value="distributionWaitAccept" *ngIf="vTaskMixSearch.taskType=='dispatchTask' || vTaskMixSearch.taskType=='repair' || vTaskMixSearch.taskType=='fhreturn'"> 待受理 </option>
                <option  value="waitPickUp" *ngIf="vTaskMixSearch.taskType=='dispatchTask'"> 待签收 </option>
                <option  value="doSign" *ngIf="vTaskMixSearch.taskType=='dispatchTask'"> 已签收 </option>

                <option  value="waitAppointment" *ngIf="vTaskMixSearch.taskType=='repair'"> 待签收 </option>
                <option  value="doSign" *ngIf="vTaskMixSearch.taskType=='repair'"> 已签收 </option>
                <option  value="accepted" *ngIf="vTaskMixSearch.taskType=='fhreturn'"> 待提货 </option>
                <option  value="waitPickUp" *ngIf="vTaskMixSearch.taskType=='fhreturn'"> 待签收 </option>
                <option  value="doSign" *ngIf="vTaskMixSearch.taskType=='fhreturn'"> 已签收 </option>
                <option  value="GoodsArrive" *ngIf="vTaskMixSearch.taskType=='fhreturn'"> 货物到达 </option>
                <option  value="ReturnCustomer" *ngIf="vTaskMixSearch.taskType=='fhreturn'"> 返回客户 </option>
                <option  value="invalid" *ngIf="vTaskMixSearch.taskType=='repair' || vTaskMixSearch.taskType=='fhreturn'"> 已作废 </option>

                <option value="TMS_TRUNK_START" *ngIf="vTaskMixSearch.taskType=='pickUP'">干线开始</option>
                <option value="TMS_TRUNK_END" *ngIf="vTaskMixSearch.taskType=='pickUP'">干线结束</option>
                <option value="doSign" *ngIf="vTaskMixSearch.taskType=='pickUP'">已提货</option>
            </select>


            <span class="receive-text matching-type">匹配类型</span>
            <select name="selectMatchType" class="all_state" [(ngModel)]="vTaskMixSearch.matchType">
                <option value="All">全部</option>
                <option  value="artificialDistribution">人工分单</option>
                <!--
                <option  value="recommendMaster">推荐师傅</option>
                -->
                <option  value="intelligentDistribution"> 智能分单 </option>
            </select>
            <!--<span class="export">导出</span>-->

            <span class="line-state billOrTask">运单号/任务单号</span>
            <div style="display: inline-block">
                <textarea name="billIdOrTaskId" id="billOrTask" cols="24" rows="3" placeholder="多单查询请以回车键换行隔开" class="billIdOrTaskId" [(ngModel)]="vTaskMixSearch.billOrTask" style="resize: none"></textarea>
                <button class="billIdCloseBtn" (click)="clearTextArea()">×</button>
            </div>
        </div>
        <div class="send-good">
            <span class="province-address">发货人</span>
            <shipper-select class="write-order-input" name="shipper1" [(ngModel)]="vTaskMixSearch.shipper" defaultLabel="请选择…"></shipper-select>

            <span class="receive-text">收货人</span>
            <cnee-select class="write-order-input" name="consignee4" width="125px" [(ngModel)]="vTaskMixSearch.consignee" defaultLabel="请选择…"></cnee-select>

            <span class="write-order">师傅/网点</span>
            <master-select class="write-order-input1" name="masterAccount" defaultLabel="请选择…" [(ngModel)]="vTaskMixSearch.masterAccount" valueField="mobile"></master-select>
            <select name="selectState" class="all_state" [(ngModel)]="vTaskMixSearch.queryDateType">
                <option  value="All"> 全部日期 </option>
                <option  value="createDate"> 创建日期 </option>
                <option  value="bill"> 开单日期 </option>
                <option  value="dis"> 分配日期 </option>
                <option  value="sign"> 签收日期 </option>
                <option  value="cancelSign"> 取消签收日期 </option>
                <option  value="cancelDis"> 取消分配日期 </option>
                <option  value="trunkEnd"> 干线结束日期 </option>
            </select>

            <div class="line-end-date">
                <p-calendar placeholder="开始时间" name="startDate" [(ngModel)]="vTaskMixSearch.beginDate" [locale]="zh" dateFormat="yy/mm/dd" [inputStyle]="inputStyle" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [maxDate]="vTaskMixSearch.endDate"
                    [readonlyInput]="true"></p-calendar>
            </div>
            <div class="line-end-date">
                <p-calendar placeholder="结束时间" name="endDate" [(ngModel)]="vTaskMixSearch.endDate" [locale]="zh" dateFormat="yy/mm/dd" [inputStyle]="inputStyle" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [minDate]="vTaskMixSearch.beginDate"
                    class="right" [readonlyInput]="true"></p-calendar>
            </div>
            <!--<div style="width:125px;display: inline-block;" >
                <input type="text" name="masterAccount" [(ngModel)]="vTaskMixSearch.masterAccount">
            </div>-->

            <!--<span class="line-state billOrTask">运单号/任务单号</span>
            <div style="display: inline-block">
                <textarea name="billIdOrTaskId" id="billOrTask" cols="24" rows="3" placeholder="多单查询请以回车键换行隔开" class="billIdOrTaskId" [(ngModel)]="vTaskMixSearch.billOrTask" style="resize: none"></textarea>
                <button class="billIdCloseBtn" (click)="clearTextArea()">×</button>
            </div>-->
            <button class="search-btn btn primary-btn" (click)="doSearch()">查询</button>
            <button type="reset" class="clear-btn btn default-btn" (click)="formbox.reset()">清空</button>
        </div>
    </div>
</form>
<!--提示框-->
<p-growl [value]="msgs"></p-growl>
