<div id="system_bottom">
    <div class="mybatisPage-tip">
        <span>共<span class="mybatisPage-number">{{dataNum}}</span>条数据</span>&nbsp;
        <span class="cur-mybatisPage">{{curPage}}</span>/<span class="all-mybatisPage-num">{{pageNum}}页</span>,
        <span>每页显示</span><input class="show-num" value="{{pageDataNum}}"><span>条</span>
    </div>
    <ul class="mybatisPage-select">
        <li class="mybatisPage-item">首</li>
        <li class="mybatisPage-item">&lt;</li>
        <li class="mybatisPage-item">1</li>
        <li class="mybatisPage-item">2</li>
        <li class="mybatisPage-item">4</li>
        <li class="mybatisPage-item select_cur">3</li>
        <li class="mybatisPage-item">5</li>
        <li class="mybatisPage-item ellipsis">...</li>
        <li class="mybatisPage-item">15</li>
        <li class="mybatisPage-item">&gt;</li>
        <li class="mybatisPage-item">16</li>
        <li class="mybatisPage-item"><input type="text"></li>
    </ul>
</div>
