<script src="add-modify-master.component.ts"></script>
<div class="aside-frame">
    <header>
        <h4 class="edit-title">修改师傅资料</h4>
    </header>
    <div>
        <form>
            <ul class="state-search">
                <li>
                    <!--<span class="state-search-text">到货地区</span>-->
                    <!--<div class="addr-control">-->
                        <!--<area-select  name="arrivalArea" [(ngModel)]="intelModifyMasterVo.arrivalArea"></area-select>-->
                    <!--</div>-->
                    <span>提货电话</span>
                    <div class="addr-control pickup-phone">
                        <input type="text" name="tellPhone" [(ngModel)]="intelModifyMasterVo.pickUpMobile">
                    </div>
                </li>
                <li>
                    <span class="state-search-text">目的地区</span>
                    <span class="addr-control">
                    <area-select  name="objectiveArea" [(ngModel)]="intelModifyMasterVo.objectiveArea"></area-select>
            </span>
                </li>
                <li>
                    <span class="state-search-text">订单类型</span>
                    <span class="state-search-select">
                    <select name="ordertype" [(ngModel)]="intelModifyMasterVo.ordertype" class="branch-trunk">
                        <option value="">请选择</option>
                        <option value="branch">支装</option>
                        <option value="trunk">干支装</option>
                        <option value="all">全部</option>
                    </select>
                </span>
                </li>
            </ul>
        </form>
        <div class="add-modify-master">
            <span class="state-search-master">师傅姓名</span>
            <span class="state-search-input">
                <span class="add-modify-left ">
                   <workers-select width="150px" defaultLabel="请选择…" multiSelect="true" [(ngModel)]="workerValues"></workers-select>
                </span>
              </span>
            <ul class="service-list">
                <li *ngFor="let name of workerValues; let i = index">
                    <span>{{name.realName}}</span>
                    <a (click)="deleteTypeOfService(i)">×</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="add-address-btn">
        <span class="btn primary-btn" (click)="preservation()">保存</span>
        <span class="btn default-btn" (click)="close()">取消</span>
    </div>
    <a class="close-modal-btn" (click)="close()"></a>
</div>
<!--提示框-->
<p-growl [value]="msgs"></p-growl>