.dialog-box>.blue{
    background-color: #417cf3;
}
.dialog-box>.dialog-box-title>.dialog-right{
    color: #fff;
    opacity: 1;
}
.dialog-box>.dialog-box-content{
    height: auto;
    border: none;
    padding: 25px 15px 0 15px;
}
.content-line{
    display: flex;
}
.dialog-box>.dialog-box-content select{
    border: 1px solid #ccc;
    width: 170px;
    height: 30px;
}
.dialog-box>.dialog-box-content input{
    border: 1px solid #ccc;
    height: 30px;
    width: 170px;
    margin-bottom: 15px;
    padding-left: 5px;
    box-sizing: border-box;
}
.dialog-box>.dialog-box-content label{
    flex: 2;
    text-align: right;
    margin-bottom: 15px;
    margin-right: 15px;
    line-height: 30px;
}
.dialog-box .dialog-box-footer{height:30px; text-align: center; padding: 20px;}