/*顶部样式 start*/
.dialog-box{width:313px}
.dialog-box>.dialog-box-title{
    background:#4C8DF7 ;
}
.dialog-box-footer{padding-top:15px;}
.dialog-box-content{text-align: center;}
/*顶部样式 end*/
.dialog-box-content li{
    height:25px;
}
.dialog-box-content span{
    width:50px;
    height:28px;
    margin-right:10px;
}
.dialog-box-content input{
    width:170px;
    height:24px;
    padding-left: 5px;
}
.dialog-box .dialog-box-footer{height:30px; text-align: center; padding: 20px;}