<div class="content">
    <div class="title">部门管理</div>
    <div class="left-content">
        <div class="content-title">公司架构</div>
        <div class="table-wrap">
            <div class="wrap-title">广州一智通供应链管理有限公司</div>
            <ul class="wrap-ul">
                <li *ngFor="let manager of managerList;let i=index"><i [ngClass]="{'add':!isshow[i],'low':isshow[i]}" (click)="showUl(i)"></i>{{manager.name}}
                    <ul [ngClass]="{show:isshow[i]}">
                        <li *ngFor="let member of managerList[i].list"><span class="text">{{member}}</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-content">
        <div class="content-title">
            部门列表
            <span (click)="showAdd()"><i class="add"></i>新增</span>
            <span (click)="showModify()"><i class="modify"></i>修改</span>
            <span (click)="showDel()"><i class="delete"></i>删除</span>
            <span><i class="export"></i>导出</span>
            <span (click)="showSearch()"><i class="search"></i>查找</span>
        </div>
        <div class="table-wrap">
            <table>
                <tr>
                    <th><i [ngClass]="{null:titSelectNull,tick:titSelectSome,select:titSelectAll}" (click)="changeTitleMode()"></i></th>
                    <th *ngFor="let title of tableTitle">{{title}}</th>
                </tr>
                <tr *ngFor="let trData of tableData;let i=index">
                    <td><i [ngClass]="{null:selectNull[i],select:!selectNull[i]}" (click)="changeMode(i)"></i></td>
                    <td>{{trData.department}}</td>
                    <td>{{trData.upperDepartment}}</td>
                    <td>{{trData.leader}}</td>
                    <td>{{trData.leaderPhone}}</td>
                    <td>{{trData.address}}</td>
                    <td>{{trData.remarkMsg}}</td>
                    <td>{{trData.updater}}</td>
                    <td>{{trData.updateTime}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<department-add *ngIf="isAddWin" (isshow)="isshowWin($event)"></department-add>
<department-modify *ngIf="isModifyWin" (isshow)="isshowWin($event)"></department-modify>
<department-search *ngIf="isSearchWin" (isshow)="isshowWin($event)"></department-search>
<department-del *ngIf="isDelWin" (isshow)="isshowWin($event)"></department-del>