@charset "utf-8";
/*css reset code */
*{
	margin: 0;
	padding: 0;
}
html>body {
	font: 12px/1.5 "Microsoft YaHei",微软雅黑,"Myriad Pro",华文细黑,STHeiti,MingLiu;
	overflow: hidden;
} /* for everything else */
li{
	list-style: none;
}
a {
	text-decoration: none;
}

