
.outer-container {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
    overflow-x: auto;
    height: 100%;
}
.inner-container {
    width: 100%;

    position: relative;
    height: 100%;
}

.table-header1>a{
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 999;
}
.table-header1>span{
    position: absolute;
    left: 70px;
    top: 0px;
    z-index: 999;
}
.content-header {
    height: 30px;
    position: relative;
    margin-bottom: 0;
    margin-top: 15px;
}
.content-header2 {
    margin-top: 12px;
}
.content-header>span, .content-header>input, .content-header>label, .content-header>select, .content-header>div, .content-header>button {
	float: left;
	line-height: 30px;
	height: 30px;
}
.content-header>span {
	margin-right: 8px;
}

.content-header>label {
	margin-right: 8px;
}
.content-header>input {
    box-sizing: border-box;
    padding: 0 6px;
   	border: 1px solid #cccccc;
   	margin-right: 15px;
   	width: 140px;
}
.content-header>select {
    width: 124px;
    margin-right: 25px;
    padding: 0 10px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    text-align: left;
}
.content-header>select:nth-of-type(3) {
	margin-right: 0;
}
.content-header .primary-btn {
	margin-left: 15px;
}


.table-header {
    width: 100%;
    background-color: #f7f8fa;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 2px solid #1a9cf2;
    padding: 0 15px;
    position: relative;
    margin-top: 12px;
}
.table-header>span {
    line-height: 38px;
}
span.select-num {
    color: #0d85e4;
    padding: 0 7px;
}
span.split-line {
	margin: 0 12px 0 15px;
	color: #c9c9c9;
}
a.operation-a {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	text-align: left;
	color: #728597;
}
a.operation-a>i {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
a.operation-whitelist>i {
	background: url(/assets/operation.png) no-repeat -78px -74px;
	background-size: 122px;
}
a.operation-blacklist>i {
	background: url(/assets/operation.png) no-repeat -25px 0;
	background-size: 122px;
}
a.operation-start>i {
    background: url(/assets/operation.png) no-repeat 0 -98px;
    background-size: 122px;
}
a.operation-stop>i {
    background: url(/assets/operation.png) no-repeat -25px -98px;
    background-size: 122px;
}
a.operation-modify>i {
    background: url(/assets/operation.png) no-repeat 0 -74px;
    background-size: 122px;
}
a.operation-delete>i {
    background: url(/assets/operation.png) no-repeat -51px -25px;
    background-size: 122px;
}
a.operation-check>i {
    background: url(/assets/operation.png) no-repeat -25px -25px;
    background-size: 122px;
}
a.operation-add>i {
    background: url(/assets/operation.png) no-repeat -77px -50px;
    background-size: 122px;
}
.table-header>span.close-btn {
	position: absolute;
    right: 15px;
    height: 38px;
    line-height: 38px;
    color: #d6d6d6;
    font-size: 20px;
    cursor: pointer;
}


.table-header1 {
    background-color: #ffffff;
    padding: 11px 0;
}
.table-header1>h4 {
    font-size: 16px;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    border-left: 3px solid #0d85e4;
    box-sizing: border-box;
}
#stop-dialog-box .start-symbol {
    color: #ff5454;
    width: 0px;
    position: relative;
    top: 2px;
}


.table-container {
    width: 100%;
    margin: 0;
    border: 1px solid #d8e3ef;
    border-top: none;
    position: relative;
    box-sizing:border-box;
}

.modal {
    width: 1020px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1040px;
}

p-autoComplete{
    float: left;
    margin: 0 8px 0 0;
}


/*搜索框媒体查询*/
@media screen and (max-width: 1024px) {
    .content-header{width:1024px;}
}
/*搜索框*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .content-header{width:1200px;}
}
/*地址选择框*/
.inner-container .content-header .addr-control ui-select-box{
    line-height: 16px;
}
.inner-container .content-header .addr-control{
    width: 125px;
}
@media screen and (min-width: 1024px) and (max-width: 1366px){
    .inner-container .content-header .addr-control, .content-header>select{
        width: 125px;
    }
}
@media screen and (max-width: 1024px){
    .inner-container .content-header .addr-control, .content-header>select{
        width: 48px;
    }
}@media screen and (min-width: 1367px) and (max-width: 1920px){
    .inner-container .content-header .addr-control, .content-header>select{
        width: 150px;
    }
}
/*弹出框（公共样式，以下是长宽高修改）和其他样式有重复，需合并*/
.dialog-box-mm{/*修改项*/width:280px;margin-top: -155px;margin-left: -206px;/*修改项*/
    box-shadow: 1px 2px 10px #717171, -1px 2px 10px #717171;position: fixed; top: 50%;left: 50%;z-index: 1500;background-color: #fff;}
.dialog-box-mm>.dialog-box-title-mm{width: 100%;height: 40px;background: #2d3244;display: block;padding: 4px 15px;box-sizing: border-box;}
.dialog-box-mm>.dialog-box-title-mm>span{font-size:14px;color:#fff;line-height:33px;  }
.dialog-box-mm>.dialog-box-title-mm>.dialog-left{float:left;}
.dialog-box-mm>.dialog-box-title-mm>.dialog-right{float:right;font-size:30px;cursor: pointer;opacity: 0.7;line-height: 29px;}

.dialog-box-mm>.dialog-box-content-mm{padding:15px; height: 66px; border-bottom:1px solid #e5e5e5;box-sizing: border-box;text-align: center}
.dialog-box-mm>.dialog-box-footer-mm{height:55px; text-align: center;}
.dialog-box-mm>.dialog-box-footer-mm>span{display: inline-block;width:58px; height: 30px; background-color: #f8f8f8;line-height:30px;border:1px solid #ddd;margin-top:15px;}
.dialog-box-mm>.dialog-box-footer-mm>.primary-btn{background-color:#0d85e4;}

.dialog-box>.dialog-box-content>.dialog-box-com{width: 100%;box-sizing: border-box;}
.dialog-box>.dialog-box-content>.dialog-box-top{margin-bottom: 15px;padding-top: 9px;}
.dialog-box>.dialog-box-content>.dialog-box-com>span{height: 30px;width: 77px;text-align: center;display: inline-block;line-height: 30px;float: left;}
.dialog-box>.dialog-box-content>.dialog-box-com>input{height: 30px;width: 260px;line-height: 30px;padding-left: 10px;border:1px solid rgb(13,133,228) ;outline: none;}
.dialog-box>.dialog-box-content>.dialog-box-com>textarea{display:inline-block;height: 67px;width: 272px;padding: 10px;box-sizing: border-box;border:1px solid rgb(221,221,221);background:rgb(248,248,248);outline: none;}

/*弹出表格弹窗*/
.grid-table>th:first-child{
    width: 100px;
    height: 20px;
    background: #0b7dd8;
    position: absolute;
}
#stop-dialog-box{
    display:block;
    width:400px;
    margin-left: -180px;
    margin-top: -200px
}
#stop-dialog-box-footer{
    height: 55px;
    line-height: 55px
}
.content-header1 .whether-cooperation{
    margin-left: 15px;
}
.content-header2 .master-id{
    margin-left: -5px;
}
