.outer-modal-container {
	width: 1020px;
    height: 100%;
    background-color: #fbfafa;
    overflow: hidden;
    box-shadow: -3px 0px 10px #e4e4e4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}


.outer-modal-container header {
    height: 60px;
    padding-left: 22px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px #cccccc;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}
.outer-modal-container header div>span:first-child {
	font-size: 14px;
}
.outer-modal-container header div:first-child {
    margin-bottom: 12px;
    height: 20px;
    position: relative;
}
.outer-modal-container header div:first-child>span {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
span.audit-icon {
    margin-left: 22px;
    box-sizing: border-box;
    padding-left: 23px;
    background: #f8f0f0 url(/assets/cooperation-company/identify.png) no-repeat 3px center;
    background-size: 17px 17px;
    display: inline-block;
    width: 65px;
    border-radius: 9px;
    color: #fcb39b;
}
.outer-modal-container header div:first-child>span:last-child {
    position: absolute;
    right: 20px;
    color: #f6bf8d;
    width: 49px;
    background: url(/assets/cooperation-company/edit-orange.png) no-repeat left center;
    background-size: 17px 17px;
    padding-left: 21px;
}


.outer-modal-container .container {
    position: absolute;
    padding-top: 90px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.outer-modal-container .content {
    height: 100%;
    overflow: auto;
    padding: 20px 20px 10px 40px;
    box-sizing: border-box;
}
.outer-modal-container .content section {
    padding-bottom: 25px;
}
.outer-modal-container .content section .title {
    height: 15px;
    line-height: 15px;
    position: relative;
}

.outer-modal-container section .title>span {
    color: #0b7dd8;
    width: 60px;
    position: relative;
    z-index: 1;
    background-color: #fbfafa;
    display: inline-block;
}
.outer-modal-container .content section:last-child .title>span {
	width: 83px;
}
 .title #title-span{
    width: 83px;
}
.outer-modal-container .content section .title-line {
    position: absolute;
    height: 1px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background-color: #ebebeb;
    top: 50%;
    margin-top: -0.5px;
}
.outer-modal-container .content section>p {
    margin-top: 15px;
}
.outer-modal-container section p>span {
    display: inline-block;
    width: 250px;
}
.outer-modal-container .content section>p>span>span {
    margin-left: 8px;
}

.outer-modal-container section>p.addr-sp {
    display: inline-block;
    width: 68px;
    vertical-align: top;
    float: left;
}
.outer-modal-container section>ul {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
}
.outer-modal-container section li {
	margin-bottom: 8px;
}
.outer-modal-container section li:last-chid {
	margin-bottom: 0px;
}

.outer-modal-container section>p.idpic {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
}
.outer-modal-container section>p.idpic>span {
	width: auto;
}
ul.idpic-list>li {
    display: inline-block;
    width: 148px;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 0px;
    text-align: center;
}
ul.idpic-list>li>div {
	margin-bottom: 4px;
	width: 100%;
	height: 95px;
	border: 1px solid #d2d2d2;
	position: relative;
	box-sizing: border-box;
}
ul.idpic-list>li>div>a>img {
	width: 144px;
	height: 91px;
	position: absolute;
	left: 1px;
	top: 1px;
}
ul.idpic-list>li>div>span {
	line-height: 93px;
	color: #999999;
}
ul.idpic-list>li>span {
	color: #666666;
}


.grey {
	color: #999999;
}

a.close-modal-btn {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 78px;
    background: url(/assets/close-modal.png);
    margin-top: -39px;
}
#add-userAccount{
    width: 500px;
}
#add-userAccount>.add-bankAccount{
    display: inline-block;
    margin-left: 130px;
}
.content #add-master-checkngfor1{
    display: inline-block;
    margin-top: -16px;
    margin-left: 64px;
}
.content #add-master-checkngfor2{
    display: inline-block;
    margin-top: -16px;
    margin-left: 64px;
}
.outer-modal-container header .check-title{
    font-size: 14px;
    line-height: 60px;
    height: 60px;
    font-weight: normal;
}
 #AddService .add-eft{
    display: block;
     margin-left: 65px;
}
#AddService .add-eft:first-child{
    display: inline-block;
    margin-left: 0px;
}
.userAccount{
    position: relative;
}
.userAccount p{
    position: absolute;
    left: 0;
    top: 20px;
}
.userAccount .name{
    margin-left: 20px;
}
p .add-length{
    width: 400px;
}
.idpic-list img{
    width: 171px;
    height: 108px;
}
div.add-auto{
    height: 100%;
    overflow-y: auto;
}
