<div class="outer-container">
    <div class="inner-container">
        <!--导航栏-->
        <my-nav [navs]="navs" [curIndex]="curIndex" [navHrefs]="navHrefs"></my-nav>

        <div class="content-header">
            <form>
                <span>注册时间</span>
                <div class="calendar-div">
                    <p-calendar name="startDate" [(ngModel)]="MasterQuantityVo.startDate" [locale]="zh" dateFormat="yy/mm/dd" [inputStyle]="inputStyle" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [readonlyInput]="true"></p-calendar>
                </div>
                <div class="calendar-div">
                    <p-calendar name="endDate" [(ngModel)]="MasterQuantityVo.endDate" [locale]="zh" dateFormat="yy/mm/dd" [inputStyle]="inputStyle" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [readonlyInput]="true"></p-calendar>
                </div>
                <!--这是显示订单趋势统计的部分-->
                <button class="btn primary-btn" (click)="doSearch()" [disabled]="loading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom" *ngIf="loading"></i>
                    查询
                </button>
            </form>

        </div>
        <div class="content-body">
            <div class="table-header table-header1">
                <h4>省师傅数量</h4>
            </div>
            <div class="content-img">
                <div class="order-info" *ngIf="mastrtCount>=0">全国师傅总数：<span>{{mastrtCount}}</span>，省平均师傅数量：<span>{{masterArg}}</span></div>
                <a href="javascript:;" class="exportExcel">导出EXCEL</a>
                <div echarts [options]="OrderMapOption" style="height: 500px"></div>
            </div>
        </div>
        <!--提示框-->
        <p-growl [value]="msgs"></p-growl>
