<div class="content">
    <p class="content-ca">公司账户信息</p>
    <div class="content-cb">
        <div class="content-cb-l">
            <h3>基本信息</h3>
            <ul>
                <li>公司名称：</li>
                <li>登录账号：</li>
                <li>登录ID：</li>
                <li>公司负责人：</li>
                <li>联系手机：</li>
                <li>身份证号：</li>
                <li>所在地区：</li>
            </ul>
            <dl>
                <dd>广州一智通管理有限公司（简称：一智通）</dd>
                <dd>13265542130</dd>
                <dd>13265542130</dd>
                <dd>李总</dd>
                <dd>13265542130</dd>
                <dd>4425136998611111</dd>
                <dd>广东省广州市天河区</dd>
            </dl>
            <h3>认证信息</h3>
            <ul>
                <li>机构代码：</li>
                <li>开户行：</li>
                <li>银行账号：</li>
                <li>审核状态：</li>
            </ul>
            <dl>
                <dd>6623101254698520</dd>
                <dd>兴业银行广州支行</dd>
                <dd>201313265542103</dd>
                <dd>已审核</dd>
            </dl>
            <h3>系统信息</h3>
            <ul>
                <li>使用系统：</li>
                <li>使用截止时间：</li>
            </ul>
            <dl>
                <dd><span class="system">TMS &nbsp;IPS</span></dd>
                <dd>2017-03-31</dd>
            </dl>
        </div>
        <div class="content-cb-m">
            <h3>公司登录照片：</h3>
            <b class="login-img"></b>
            <h3 class="zz">公司营业执照：</h3>
            <img src="../../../../assets/account/3.png">
        </div>
        <div class="content-cb-r">
            <p>修改公司资料</p>
        </div>
    </div>
</div>