<!--提示框-->
<p-growl [value]="msgs"></p-growl>

<div class="master-content">
  <financial-center-top></financial-center-top>
  <account-search (findMasterFlow)="findMasterFlow($event)" [loading]="loading" [saleRunning]="saleRunning"></account-search>
  <div *ngIf="isshowTitle" class="table-title"><span class="title-name">师傅流水</span></div>
  <div  *ngIf="!isshowTitle" class="show-flow-chart">
    <ul class="show-flow-list">
      <li><span>已选中<i>{{selectionRow?.length || 0}}</i>项</span></li>
      <li (click)="showWin();"><i></i><span>流水详情</span></li>
    </ul>
    <span class="cancel-icon" (click)="showTitle()">×</span>
  </div>
  <div class="table-container">
    <!--<data-table [tableHeight]="tableHeight" [datum]="datum" *ngIf="isTableShow"></data-table>-->
    <ui-grid title="&nbsp;" [columns]="columns" [data]="data" (exportCSV)="exportCSV($event)" (rowSelect)="rowSelect($event)" (load)="load($event)" [(selections)]="selectionRow"></ui-grid>
  </div>
</div>
<running-detail *ngIf="isshowWin" (closeWin)="closeWin($event)" (selectMasterFlowValue)="selectMasterFlowValue($event)" [masterAccount]="masterAccount"></running-detail>



